
@font-face {
  font-family: 'Avenir-Black';
  src:  url('../fonts/AvenirLTStd-Black.WOFF') format('woff'),
        url('../myfont.woff') format('woff');
    }
    
    @font-face {
          font-family: 'Avenir-Book';
  src:  url('../fonts/AvenirLTStd-Book.WOFF') format('woff'),
        url('../myfont.woff') format('woff');

}