
/* ***** NAVIGATION ***** */

#left-nav {
  float: left;
}

#right-nav {
  float: right;
}

#logo {

	height: 40px;
	display: inline-block;
	margin: 5px 10px;
	border: none;
}

#mobile-logo {
	display: none;
}



nav {
	max-width: 99.8vw;
  height: 90px;
	font-size: 16px;
	letter-spacing: 6px;
	display: flex;
	margin: auto;
  padding: 0px 1vw;
}

nav ul {
	width: 80%;
  height: 90px;
	margin: auto;
	bottom: 40px;
	display: flex;
	justify-content: center;
		padding: 10px 0px 20px 0px;
		text-align: center;
	 transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

nav ul li {

display: inline-block;
margin: 5px 12px 8px 12px;
padding: 5px 25px;
text-decoration: none;
color: #a9a9a9;
width: 10vw;
}

nav ul li a {

display: inline-block;
margin: 15px 12px 8px 12px;
text-decoration: none;
color: #a9a9a9;
}

nav ul li a:hover {

display: inline-block;
margin: 15px 12px 8px 12px;
text-decoration: none;
color: #0A1612
}




nav li a {
	color: #000;
font-size: 1.75rem ;
	text-decoration: none;
	margin: 10px 20px;
}


nav ul li a:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
  text-decoration: none;
	transition: width .5s ease, background-color .5s ease;
}
nav ul li a:hover:after {
	width: 100%;
	background: #0A1612;
}

.main_h {
 position: fixed;
 top: 0px;
 max-height: 90px;
 z-index: 999;
 max-width: 100%;
 padding: 0px 1vw 6px 1vw;
 overflow: hidden;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
 opacity: 1;
 letter-spacing: 5px;
	font-family: 'Avenir-Black', sans-serif;
	text-align: right;
	display: block;
	background-color: #fff;
	margin:0px;
	min-width: 99.2vw;
	max-width: 99.2vw;
	overflow: hidden;
	font-family: 'Avenir-Black', sans-serif;
	height: 90px;
	font-weight: 800;
	text-transform: uppercase;
	z-index: 999;
	position: absolute;
	left: 0px;
	opacity: 1;
	overflow: hidden;
	box-sizing: border-box;
	 transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.sticky {
 background-color: rgba(255, 255, 255, 1);
 opacity: 1;
 top: 0px;
 border-bottom: 1px solid gainsboro;
}

.fixed{
    position: fixed;
    z-index: 1;
    display:none;
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
}

.mobile-toggle {
	display: none;
}


@media (max-width: 766px) {

.main_h .row {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
}

.main_h .row:before {
	display: none;
}

.main_h {
 padding-top: 2vh;
 padding-left: 0px;
height: 8vh;
 max-width: 100vw;
    -webkit-box-shadow: 0px 0px 2px 2px #a9a9a9;
       -moz-box-shadow: 0px 0px 2px 2px #a9a9a9;
            box-shadow: 0px 0px 2px 2px #a9a9a9;
}

.open-nav {
	display: block;
	width: 100vw;
	left: 0px;
	min-height: 245px !important;
 max-height: 400px !important;
 box-shadow: inset  320px 0 0 0  #fff;
 transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
	    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,1) 30%, #0A1612 50%, rgba(0,0,0,1) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2.5s infinite;

}

.open-nav .mobile-toggle {
 transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
}

.sticky {
 background-color: rgba(255, 255, 255, 1);
 opacity: 1;
 top: 0px;
 border-bottom: 1px solid gainsboro;
}

nav {
 width: 100%;
}

nav ul li a:after, nav ul li a:hover:after {
display: none;
text-decoration: none;
}

}

@media (max-width: 766px) {



nav {
	padding: 35px 0px 0px 0px;
 width: 100vw;
 left: 0px;
height: 390px;
  text-decoration: none;
}


nav ul {
 list-style: none;
 overflow: hidden;
 text-align: right;
 max-width: 100vw;
 height: 300px;
   text-decoration: none;
}}

@media (max-width: 766px) {

nav ul {
padding: 10px 0px 0px 0px;
 margin-bottom: 0px;
 text-align: center;
 width: 100vw;

}

nav ul li {
  display: block;
  margin: 0px;
    text-decoration: none;
}

nav ul li a {
 display: block;
   text-decoration: none;
}
}

@media  (max-width: 766px) {

nav ul li, nav ul li a, nav ul li a:hover {
 width: 100vw;
 padding: 5px 0px;
 margin: 0px;
  border: none;
  text-decoration: none;
}

nav ul li a:hover {
 background-color: #fff;
 text-decoration: none;
 border-bottom: none;
 margin: 0px;
 color: #0A1612;
 -webkit-transition: all 200ms ease-in;
 -moz-transition: all 200ms ease-in;
 transition: all 200ms ease-in;
}

.main_h a  {
    color: #a9a9a9;
    text-decoration: none;
}

.main_h a, .main_h a:visited, .main_h a:hover {
  text-decoration: none;
}

.logo {
	display: none;
}

#mobile-logo {
	position: absolute;
	display: inline-block;
	visibility: visible;
	left: 22px;
 height: 27px;
 z-index: 999;
}

nav ul a {
 color: #a9a9a9;
 text-transform: uppercase;
 font-size: 1.75rem;
 padding: 10px 0px;
   text-decoration: none;
}

.mobile-toggle {
 display: none;
 cursor: pointer;
 font-size: 20px;
 position: absolute;
 right: 22px;
 top: 10px;
 width: 30px;
 -webkit-transition: all 150ms ease-in;
 -moz-transition: all 150ms ease-in;
 transition: all 150ms ease-in;
}
}

@media (max-width: 766px) {



.mobile-toggle {
 display: block;
}


.mobile-toggle span {
 width: 25px;
 height: 3px;
 margin-bottom: 6px;
 border-radius: 1000px;
 background: #8f8f8f;
 display: block;
}
.active {
	color: pink;
	background-color: rgba(100,100,100,1);
	border-bottom: thick solid rgba(0,255,0,0.5);
}

.fixed {
    position: fixed;
    z-index: 1;
    display:none;
    -webkit-transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    transition: background-color 0.5s cubic-bezier(0.28, 0.11, 0.32, 1);
    -webkit-transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, -webkit-backdrop-filter;
    transition-property: background-color, backdrop-filter;
    transition-property: background-color, backdrop-filter, -webkit-backdrop-filter;
}
}