/* ***** CONTACT SECTION ***** */

#contact {
    color: #fff;
    background-color: $nearBlackBackground;
    font-family: 'Avenir-Book', serif;
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    padding: 100px 200px;
    min-height: calc(100vh - 130px);
    box-sizing: border-box;
}
#contact-wrapper {
    margin-top: 100px;
}
#contact-left {
    padding: 0px 100px 0px 0px;
    margin-bottom: 50px;
}
#contact-right {
    padding-left: 80px;
}
#contactbutton a {
    margin: 0px auto 100px auto;
    font-family: 'Avenir-Black', century-gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 30px;
    text-align: center;
    width: 280px;
    color: #1A1D1A;
    border: solid 4px #fff;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
#contactbutton a:hover {
    font-family: 'Avenir-Black', century gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    padding: 30px;
    width: 280px;
    color: #fff;
    background-color: transparent;
    border: solid 4px #fff;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}
.socialicons {
    height: 20px;
    display: inline-block;
}
.fa {
    color: #fff;
    font-family: 'Avenir-Book', serif;
    font-size: 26px;
}
#social-container {
    text-align: center;

        ul {
            height: 50px;
            width: 302px;
            text-align: left;
            padding: 0px;
            display: flex;
            justify-content: space-around;
                li {
                    list-style: none;
                    display: inline-block;
                    a {
                            height: 20px;
                            width: 20px;
                            display: inline-block;
                            border: none;
                            margin: 0px 32px;
                            list-style: none;
                        }
                }
            }
}
#social-container ul li a:first-child,
#social-container ul li a:first-child:hover {
    margin-left: 0px;
}

#social-container ul li a:hover {
    height: 20px;
    width: 20px;
    display: inline-block;
    border: none;
    margin: 0px 32px;
}
.fa-lg:hover {
    color: $yellow;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
footer {
    color: #a9a9a9;
    background-color: #fff;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 14px;
    font-family: 'Avenir-Book', century gothic, helvetica, arial, sans-serif;
    position: relative;
    bottom: 10px;
    padding: 20px;
}