// ***** MEDIA QUERIES *****
  
@media (max-width: 900px) {
    #main-container {
        width: 100vw;
        padding: 0px;
    }
    #about,
    #welcome,
    #contact,
    #skills,
    #projects {
        padding: 70px 1vh;
        box-sizing: border-box;
        overflow: hidden;
    }
    #about {
        min-height: 75vh;
    }
    .skills-wrapper {
        margin-top: 7rem;
    }
    #welcome-container,
    .slideInUp {
        padding: 25vh 1vw 1vh 1vw;
        font-size: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about p {
        width: 90vw;
        margin: 7rem 1vw 0 1vw;
        box-sizing: border-box;
        padding: 0;
    }
    #skills ul li {
        margin-bottom: 1.5vh;
    }
    #rig {
        margin: 7rem 0 0 0;
    }
    #contact {
        min-height: 75vh;
    }
    .contact-wrapper {
        margin: 7rem auto 0 auto;
        width: 80vw;
    }
    .contact-left {
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s;
        animation-delay: 0.5s;
        padding-right: 0px;
        margin-bottom: 10rem;
    }
    #contactbutton,
    #contactbutton a,
    #contactbutton a:hover {
        max-width: 100%;
        text-align: center;
    }


    .contact-right {
    padding-left: 0px;
}
    #rig li {
        width: 50%;
    }
    #social-container {
            ul {
                margin: auto;
                width: 100%;
    }
}
    .container-fluid {
        width: 80vw;
    }

.responsive-menu {
    letter-spacing: 0.375em;

    ul {width: 100%;
    }
}
}

@media (max-width: 700px) {

     .menu-btn {
    cursor: pointer;
    display: inline-block;
    float: right;
    span {
        display: block;
        width: 19px;
        height: 3px;
        margin: 4px 0;
        background: #a9a9a9;
        z-index: 99;
    }
}
.nav__logo {
    width: auto;
    height: 30px;
    display: inline-block;
}
 .responsive-menu{
    display: none;
}   
    .responsive-menu {
   display: none;
   ul{ width: 100%;
    height: auto;
    padding: 0px;
    li {
        flex: 1 0 400px;
        height: auto;

        a{
        margin: 0px;
        width: 100%;
        padding: 5px 0px;
    }
        a:hover {
            margin: 0;
        }
    }
    }
   }
.mobile-nav {
    padding: 20px 20px 10px 20px;

}
.menu-btn span {
    display: block;
    width: 28px;
    height: 3px;
    margin: 6px 0;
    background: #a9a9a9;
    z-index: 99;
}
 
.expand {
    display: block !important;
    transition:3s;
    color: #a9a9a9;
    margin-bottom: 1rem;
}

    .mouse {
        bottom: 60px;
    }
    #main-container {
        width: 100vw;
        padding: 0px;
    }
    #welcome {
        height: 100vh;
    }
    .mouse {
        bottom: 20px;
    }
    #about,
    #welcome,
    #contact,
    #skills,
    #projects {
        padding: 50px 1vw;
        box-sizing: border-box;
        overflow: hidden;
    }
    .skills-wrapper {
        margin-top: 5rem;
        padding: 0px;
    }
    #skills ul {
        margin-left: 0px;
        padding-left: 15px;
        margin-top: 6vh;
    }
    #projects {
        padding: 70px 0px;
    }
    #welcome-container,
    .slideInUp {
        padding: 9vh 1vw 2vh 1vw;
        font-size: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #welcome-container {
        padding-top: 10vh; 
    }
    #about {
        height: auto;
        max-height: 300vh;
        padding-bottom: 70px;
    
            p {
                height: auto;
                width: 80vw;
                margin: 5rem auto;
                box-sizing: border-box;
                font-size: 2.5rem;
    }
}
    .skills-left {
        font-size: 1.8rem;
    }
    #skills ul li {
        font-size: 1.8rem;
        padding-left: 30%;
    }
    #rig {
        margin: 60px 0px;
    
            li {
                width: 50%;
                height: 250px;
    }
}
    .rig-cell {
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
    }
    .rig-overlay {
        max-height: 100%;
    }
    .rig-text {
        padding: 0 30px;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 800;
        font-family: 'Avenir-Black', sans-serif;
        top: 10%;
        color: white;
        opacity: 0;
    }
    .rig-img {
        min-width: 100%;
        max-width: 70vw;
        width: auto;
        height: auto;
        min-height: 100%;
    }
    #social-container {
        width: 100%;
        margin: auto;
        text-align: center;
        
            ul {
                width: 100%;
                margin: auto;
                text-align: center;

    li a,
    li a:hover {

    }
    }
}
    .fa-lg {
        font-size: 1.0em;
        line-height: .75em;
        vertical-align: -15%;
    }
    .mobile-toggle {
        display: block;
    }
    .logo {
        display: none;
    }
    .contact-wrapper {
            padding: 0px;
    }
    .contact-left {
        margin-bottom: 5rem;
        font-size: 1.8rem;
    }
    #contact-right {
        padding: 0px 5vw;
        text-align: left;
    }
    #contactbutton,
    #contactbutton a,
    #contactbutton a:hover {
        max-width: 100%;
        text-align: center;
    }
    #contactbutton a {
        margin-bottom: 5rem;
        padding: 25px 30px;
    }
    #contactbutton a:hover {
        padding: 25px 30px;
    }

}

@media (max-width: 475px) {

.menu-btn span {
    display: block;
    width: 19px;
    height: 3px;
    margin: 4px 0;
    background: #a9a9a9;
    z-index: 99;
}
.responsive-menu {
   display: none;
   ul{ width: 100%;
    height: auto;
    padding: 0px;
    li {
        flex: 1 0 100%;
        height: auto;
        }
    }
}
    #welcome-container {
        font-size: 3rem;
        padding-top: 5vh;
    }
    #rig {
        margin: 5rem 0px 0px 0px;
    
            li {
                min-width: 100%;
                height: 40vh;
    }
}
#about {
    p {
        font-size: 1.8rem;
    }
}
    .rig-cell {
        min-width: 100%;
        height: 40vh;
    }
    .rig-overlay {
        max-height: 100%;
    }
    .rig-text {
        padding: 0 30px;
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.8rem;
        font-weight: 800;
        font-family: 'Avenir-Black', sans-serif;
        top: 15%;
        color: white;
        opacity: 0;
        p {
            font-size: 1.4rem;
            left: calc(50% - 100px);
        }
    }
    .rig-subtitle-text {
        font-size: 1.4rem;
    }
        .rig-img {
        min-height: 100%;
        height: auto;
        min-width: 100%;
        width: 475px;
    }
    .fa-link {
        left: calc(50% - 19px);
    }
}