
/* ***** NAVIGATION ***** */


@font-face {
  font-family: 'Avenir-Black';
  src:  url('fonts/AvenirLTStd-Black.WOFF') format('woff'),
        url('myfont.woff') format('woff');
    }
    @font-face {
          font-family: 'Avenir-Book';
  src:  url('fonts/AvenirLTStd-Book.WOFF') format('woff'),
        url('myfont.woff') format('woff');

}

html {
	margin: 0px;
}
body 
{
	margin: 0px;
	overflow-x: hidden;
}

header {
	text-align: right;
	display: block;
	background-color: #fff;
	margin:0px;
	min-width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	font-family: 'Avenir-Black', sans-serif;
	height: 80px;
	font-weight: 800;
	text-transform: uppercase;
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: hidden;
	box-sizing: border-box;
}

.stick-me .not-sticking {
	position: absolute;
	left: 0px;
}

#logo, #logo:hover, nav ul li #logo:hover{

	height: 40px;
	display: inline-block;
	margin: 0px 10px;
	border: none;
}


#logo-wrapper {
	margin-bottom: 15px;
	padding-bottom: 2px;
	position: absolute;
	bottom: 0px;
}

.logo:after {
	content: '';
	display: none;
	background: transparent;
}
.logo:hover:after {
	width: 100%;
	background: #000;
}

nav {
	width: auto;
	font-size: 18px;
	letter-spacing: 6px;
	display: inline-block;
	margin: auto;
}

nav ul {
	width: auto;
	margin: auto;
	bottom: 20px;
		padding: 10px 0px;
		text-align: center;
}

nav ul li {

display: inline-block;
margin: 10px 2px;
padding: 5px 25px;
text-decoration: none;
color: #a9a9a9;
}

nav ul li:hover {

display: inline-block;
margin: 10px 2px;
color: #000;
text-decoration: none;
}

nav li a {
	color: #000;
font-size: 2rem ;
	text-decoration: none;
	margin: 10px 20px;
}

nav li a:hover {
	color: #d9b310;
	overflow-x: hidden;
	 -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;

}

nav ul li:after {
	content: '';
	display: block;
	margin: auto;
	height: 2px;
	width: 0px;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
nav ul li:hover:after {
	width: 100%;
	background: #000;
}

.active {
	color: pink;
	background-color: rgba(100,100,100,1);
	border-bottom: thick solid rgba(0,255,0,0.5);
}


/* ***** GENERAL STYLES ***** */

.section {

	max-width: 100vw;
	margin: auto;
	background-color: lightblue;
	font-size: 44px;
	text-align: center;
	color: #000;
}


#main-container {

	background-color: #fff;
	height: 100vh;
	max-width: 100vw;
	padding: 0px 1vw;
	box-sizing: border-box;
}

.section-header {
font-size: 3rem;
font-family: 'Avenir-Black', 'century-gothic', sans-serif;
text-align: center;
letter-spacing: 4px ;
text-transform: uppercase;
margin: 0px auto 20px auto ;
color: #a9a9a9;
display:block;
}

.hr {

	border: solid 2px #a9a9a9;
	color: #a9a9a9;
	width: 40px;
	margin-bottom: 60px;
}

/* ***** WELCOME SECTION ***** */

#welcome {
	background-color: #1a2930;
	text-align: left;
	min-height: 100vh;
	max-height: 100vh;
	overflow-y: none;
	box-sizing: border-box;
	margin: 0px ;
	}

#welcome-container {
	color: #f7ce36;
	background-color: transparent;
	font-family: 'Avenir-Black', sans-serif;
	font-size: 8rem;
	font-weight: bold;
	text-align: center;
	padding-left: 100px;
	padding-top: 30vh;
	  -webkit-animation: intro 1s;
  animation: intro 1s;

}


body {
  margin: 0;
  background-color: #1d1f20;
}
.mouse {
  position: absolute;
  width: 22px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -12px;
  border-radius: 15px;
  border: 2px solid #fff;
  -webkit-animation: intro 2s;
  animation: intro 2s;
}
.scroll {
  display: block;
  width: 3px;
  height: 3px;
  margin: 6px auto;
  border-radius: 4px;
  background: #fff;
  -webkit-animation: finger 1s infinite;
  animation: finger 1s infinite;
}

@-webkit-keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes intro {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes finger {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}



/* ***** ABOUT SECTION ***** */

#about {
	color: #a9a9a9;
	background-color: #efefef;
	font-family: 'Avenir-Book', serif;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding: 100px 200px;
	max-height: 80vh;
	box-sizing: border-box;
}

#about p {
	color: #a9a9a9;
	font-family: 'Avenir-Book', serif;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	margin: 100px 200px;
	max-height: 100vh;
	box-sizing: border-box;
}

/* ***** SKILLS SECTION ***** */

#skills {
	color: #efefef;
	background-color: #c5c1c0;
	font-family: 'Avenir-Book', serif;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding: 70px 200px;
	min-height: 75vh;
	box-sizing: border-box;
}

.skillstitle {

	display: block;
	margin-bottom: 40px;
	font-family: 'Avenir-Black', sans-serif;
}

.container-fluid {

	width: 80%;
}

.fa {
font-family: 'Avenir-Book', serif;
	font-size: 26px;
}

/* ***** PROJECTS SECTION ***** */

#projects {
	color: #a9a9a9;
	background-color: #efefef;
	font-family: 'Avenir-Book', serif;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding: 100px 0px;
	min-height: 100vh;
	box-sizing: border-box;
}


#rig {
    max-width:100%;
    margin: 100px auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:transparent;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    max-height: 466px;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
    background-color: #1a2930;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: auto;
    margin: auto;
    height: 466px;
    border:none;
    transform:scale(1);
    transition:all 1s;
    -webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #f7ce36 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.95;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:uppercase;
    font-size:18px;
    font-weight: 800;
    font-family: 'Avenir-Black', sans-serif;
 
    top:35%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

.rig-lines {
	border: solid 3px #fff;
	width: 25px;
	text-align: left;
	margin-left: 0px;
	margin: 20px auto;
}

.rig-subtitle-text  {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-style: italic;
    font-family: 'Avenir-Book', sans-serif;
    font-weight:normal!important;
    top:55%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(20px);
    transition:all .3s;
}

.subtitle-link {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-style: italic;
    font-family: 'Avenir-Book', sans-serif;
    font-weight:normal!important;
    top:55%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(20px);
    transition:all .3s;
}

#rig li:hover .rig-subtitle-text {
    transform:translateY(0px);
    opacity:0.9;
}




/* ***** CONTACT SECTION ***** */

#contact {
	color: #fff;
	background-color: #0A1612 ;
	font-family: 'Avenir-Book', serif;
	font-size: 26px;
	font-weight: bold;
	text-align: left;
	padding: 100px 200px;
	min-height: calc(100vh - 130px);
	box-sizing: border-box;
}

#contact-wrapper {
	margin-top: 100px;
}

#contact-left {
	padding: 0px 100px 0px 0px;
	margin-bottom: 50px;
}


#contactbutton a {
	margin: 0px auto 100px auto;
    font-family: 'Avenir-Black', century-gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 30px;
    text-align: center;
    width: 300px;
    color: #1A1D1A;
    border: solid 4px #fff;
    display: inline-block;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
    }

    #contactbutton a:hover {	font-family: 'Avenir-Black', century gothic, helvetica, arial, sans-serif ;
		text-decoration: none;
		text-transform: uppercase ; 
		font-weight: 800;
		font-size: 16px;
		padding: 30px;
		width: 300px ;
		color: #fff;
		background-color: transparent;
		border: solid 4px #fff ;
		display: inline-block;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
}

.socialicons {
	height: 20px;
	display: inline-block ;
}

.fa {
	color: #fff;
	font-family: 'Avenir-Book', serif;
	font-size: 26px;

}

#social-container {
		text-align: center;
}

#social-container ul {
	height: 50px;
	width:  322px;
	text-align: center;
	padding: 0px;
	margin: 0px;

}

#social-container ul li
{
	list-style: none;
	display: inline-block;

}



#social-container ul li a {
	height: 20px;
	width: 20px;
	display: inline-block ;
	border: none ;
	margin: 0px 16px;
	list-style: none;


}

#social-container ul li a:hover {
	height: 20px;
	width: 20px;
	display: inline-block ;
	border: none ;
	margin: 0px 16px;
}

.fa-lg:hover {
	color: #f7ce36;
	-webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

footer {
	color: #a9a9a9;
	background-color: #0A1612 ;
	text-align: center;
	display: block;
	margin: auto;
	font-size: 14px;
	font-family: 'Avenir-Book', century gothic, helvetica, arial, sans-serif ;
	position: relative;
	bottom: 10px;
	padding: 20px;
}


/*------------
MEDIA QUERIES
-----------*/


@media (max-width: 900px)

{
	#main-container {
		width: 100vw;
		padding: 0px ;
	}



	#about, #welcome, #contact, #skills, #projects {
	 padding: 70px  1vh;
	 box-sizing: border-box;
	 overflow: hidden;
	}

	#welcome-container, .slideInUp {
		padding: 25vh 1vw 1vh 1vw;
		font-size: 6rem;
		display: flex;
		 align-items: center;
  justify-content: center;
	}

#about p {
	width: 90vw;
	margin: 2vw 1vh;
	box-sizing: border-box;
	padding: 0px 5vw;
}
#contact-wrapper {
	margin-top: 0px;
}
#contact-left {
		 padding: 70px  0px 1vh 1vh;
}

#contactbutton, #contactbutton a, #contactbutton a:hover {
	max-width: 100%;
	text-align: center;

}

.col-md-8 {
	width: 90vw;
	margin: 2vw 1vh;
	box-sizing: border-box;;
}

#contact-left {
	padding-right: 0px;
}

ul:first-child {
	margin-bottom: 200px;
}

#rig li {

	width: 50%;
}



#social-container ul {
	margin: auto;
}

}

@media (max-width: 700px)

{
	#main-container {
		width: 100vw;
		padding: 0px ;
	}

#welcome {
		height: 100vh;

	}

	.mouse {
		bottom: 20px;
	}

	#about, #welcome, #contact, #skills, #projects {
	 padding: 70px  1vh;
	 box-sizing: border-box;
	 overflow: hidden;
	}

	#projects {

		padding: 70px 0px;
	}

	#welcome-container, .slideInUp {
		padding: 20vh 1vw 1vh 1vw;
		font-size: 4.5rem;
		display: flex;
		 align-items: center;
  justify-content: center;
	}

	#about {
		height: 100vh;
		max-height: 100vh;
	}

#about p {
	width: 90vw;
	margin: 2vw 1vh;
	box-sizing: border-box;
	font-size: 2.75rem;
}
#contact-wrapper {
	margin-top: 0px;
}
#contact-left {
		 padding: 70px  1vh;
}

#contactbutton, #contactbutton a, #contactbutton a:hover {
	max-width: 100%;
	text-align: center;
}

.col-md-8 {
	width: 90vw;
	margin: 2vw 1vh;
	box-sizing: border-box;;
}

ul:first-child {
	margin-bottom: 200px;
}

#rig li {
	min-width: 100%;
	max-width: 100%;
}

}