.btn-contact {
  margin-top: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2em;
  padding: 1.25em 3em;
  text-align: center;
  max-width: 100%;
  color: #1a1d1a;
  border: solid 4px #fff;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
  opacity: 0;
  @mixin atLarge {
    margin-top: 4rem;
    padding: 1.5em 3em;
  }
}

.btn-contact:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: solid 4px #fff;
}

button:active {
  outline: 0;
  border: 0;
}
