// ***** GENERAL STYLES *****
a,
a:visited {
    text-decoration: none;
    color: $yellow !important;
}

a:focus {
    outline-color: $nearBlackBackground !important;
}

button:hover,
a:hover {
    text-decoration: none;
}

html {
    font-size: 1rem;
    font-family: $bodyText;
    text-rendering: geometricPrecision !important;
    -webkit-font-smoothing: antialiased !important;
}

::-moz-selection {
    color: #fff;
    background: $yellow;
}

::selection {
    color: #fff;
    background: $yellow;
}

.slow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}

.medium {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.section {
    max-width: 100vw;
    margin: auto;
    padding: 8rem 0;
    font-size: 3rem;
    text-align: center;
    color: #000;
}

#main-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0px 1vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0px;
    @mixin atMedium {
        padding: 0 1em;
    }
}

.section-header {
    font-size: 2.5rem;
    line-height: 1;
    font-family: 'Avenir-Black', 'century-gothic', sans-serif;
    text-align: left;
    margin: 0px auto 1.25rem auto;
    color: $darkGrey;
    display: block;
    opacity: 0;
    margin-bottom: 2.5rem;
    @mixin atMedium {
        padding-left: 0rem;
        font-size: 3.5rem;
    }
    @mixin atLarge {
        padding-left: 12rem;
        text-align: right;
    }
}

.section-header-wrapper {
    width: 100%;
    @mixin atMedium {
        width: 40%;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}

.fa {
    font-family: 'Avenir-Book', serif;
    font-size: 2.6rem;
}