// ***** GENERAL STYLES *****

a {
    text-decoration: none;
}

a:focus {
    outline-color: $nearBlackBackground !important;
}   

button:hover, a:hover {
    text-decoration: none ;
}

html {
    font-size: 1rem;
    font-family: $bodyText;

text-rendering: geometricPrecision !important;

-webkit-font-smoothing: antialiased !important;

}


::-moz-selection {
    color: #fff;
    background: $yellow;
}
::selection {
    color: #fff;
    background: $yellow;
}
.slow {
    -moz-animation-duration: 3s;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.medium {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.section {
    max-width: 100vw;
    margin: auto;
    padding: 8rem 0;
    font-size: 3rem;
    text-align: center;
    color: #000;
}
#main-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0px 1vw;
    box-sizing: border-box;
      padding: 0px;
    @mixin atMedium {
        padding: 0 1em;
    }
}
.section-header {
    font-size: 3.5rem;
    font-family: 'Avenir-Black', 'century-gothic', sans-serif;
    text-align: center;
    margin: 0px auto 20px auto;
    color: $darkGrey;
    display: block;
}
.hr {
    border: solid 2px #a9a9a9;
    width: 40px;
    margin-left: auto;
    margin-right: auto;
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

.fa {
    font-family: 'Avenir-Book', serif;
    font-size: 2.6rem;
}
