.tech-icon-wrapper {
    text-align: left;
    font-size: 1.25rem;
    list-style: none;
    margin-right: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    width: auto;
    filter: grayscale(1);
    transition: all 0.25s;
    position: relative;
    svg {
        margin: 0 0.5em;
    }
    &:hover {
    filter: grayscale(0);
    }
}

.tech-icon-wrapper::before,
.tech-icon-wrapper::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.tech-icon-wrapper::before {
    content: '';
    top: 100%;
    border: solid 6px transparent;
    border-bottom-color: $newNavy;
}

.tech-icon-wrapper::after {
    content: attr(aria-label);
    top: calc(100% + 10px);
    padding: 0.5em 1em;
    font-size: .875rem;
    color: white;
    min-width: 3em;
    font-weight: bold;
    background: $newNavy;
    border-radius: 2px;
}

.tech-icon-wrapper:hover::before,
.tech-icon-wrapper:hover::after {
    opacity: 1;
    transform: translate(-50%);
}