.tech-icon-wrapper {
  text-align: left;
  font-size: 1.25rem;
  list-style: none;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
  text-align: left;
  width: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 0;
  svg {
    margin: 0 0.5em;
  }
  &:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.tech-icon-wrapper::before,
.tech-icon-wrapper::after {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -10px);
          transform: translate(-50%, -10px);
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tech-icon-wrapper::before {
  content: '';
  top: calc(100% - 6px);
  border: solid 6px transparent;
  border-bottom-color: $newNavy;
}

.tech-icon-wrapper::after {
  content: attr(aria-label);
  top: calc(100% + 4px);
  padding: 0.5em 1em;
  font-size: 0.75rem;
  color: white;
  min-width: 3em;
  font-weight: bold;
  background: $newNavy;
  border-radius: 2px;
  text-align: center;
  @mixin atMedium {
    font-size: 0.875rem;
  }
}

.tech-icon-wrapper:hover::before,
.tech-icon-wrapper:hover::after {
  opacity: 1;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.tech-icon-wrapper:first-child {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.tech-icon-wrapper:nth-child(2) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.tech-icon-wrapper:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.tech-icon-wrapper:nth-child(4) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}

.tech-icon-wrapper:nth-child(5) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.tech-icon-wrapper:nth-child(6) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.tech-icon-wrapper:nth-child(7) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.tech-icon-wrapper:nth-child(8) {
  -webkit-animation-delay: 0.85s;
          animation-delay: 0.85s;
}
