.tech-icon-wrapper {
    text-align: left;
    font-size: 1.25rem;
    list-style: none;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    text-align: left;
    width: auto;
    filter: grayscale(1);
    transition: all 0.25s;
    position: relative;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    opacity: 0;
    svg {
        margin: 0 0.5em;
    }
    &:hover {
        filter: grayscale(0);
    }
}

.tech-icon-wrapper::before,
.tech-icon-wrapper::after {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -10px);
    opacity: 0;
    transition: .2s;
}

.tech-icon-wrapper::before {
    content: '';
    top: calc(100% - 6px);
    border: solid 6px transparent;
    border-bottom-color: $newNavy;
}

.tech-icon-wrapper::after {
    content: attr(aria-label);
    top: calc(100% + 4px);
    padding: 0.5em 1em;
    font-size: 0.75rem;
    color: white;
    min-width: 3em;
    font-weight: bold;
    background: $newNavy;
    border-radius: 2px;
    text-align: center;
    @mixin atMedium {
        font-size: 0.875rem;
    }
}

.tech-icon-wrapper:hover::before,
.tech-icon-wrapper:hover::after {
    opacity: 1;
    transform: translate(-50%);
}

.tech-icon-wrapper:first-child {
    animation-delay: 0.5s;
}

.tech-icon-wrapper:nth-child(2) {
    animation-delay: 0.55s;
}

.tech-icon-wrapper:nth-child(3) {
    animation-delay: 0.6s;
}

.tech-icon-wrapper:nth-child(4) {
    animation-delay: 0.65s;
}

.tech-icon-wrapper:nth-child(5) {
    animation-delay: 0.7s;
}

.tech-icon-wrapper:nth-child(6) {
    animation-delay: 0.75s;
}

.tech-icon-wrapper:nth-child(7) {
    animation-delay: 0.8s;
}

.tech-icon-wrapper:nth-child(8) {
    animation-delay: 0.85s;
}