// ***** KEYFRAMES *****

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }

  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}

@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}

@-webkit-keyframes sideintro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}

@-webkit-keyframes sideintro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@keyframes sideintro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}

@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
  }

}

@keyframes finger {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
  }

}

@keyframes cross-left {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
    -moz-transform: translateY(5px) rotate(0deg);
    -o-transform: translateY(5px) rotate(0deg);
    -ms-transform: translateY(5px) rotate(0deg);
    transform: translateY(5px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(45deg);
    -moz-transform: translateY(5px) rotate(45deg);
    -o-transform: translateY(5px) rotate(45deg);
    -ms-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

}

@keyframes cross-right {
  0% {
    -webkit-transform: translateY(-4px) rotate(0deg);
    -moz-transform: translateY(-4px) rotate(0deg);
    -o-transform: translateY(-4px) rotate(0deg);
    -ms-transform: translateY(-4px) rotate(0deg);
    transform: translateY(-4px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    -moz-transform: translateY(-4px) rotate(-45deg);
    -o-transform: translateY(-4px) rotate(-45deg);
    -ms-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
  }

}

/* Sticky header slides down */
@-webkit-keyframes slideDown {
  0% {
    top: -80px;
  }

  100% {
    top: 0px;
  }

}

@keyframes slideDown {
  0% {
    top: -80px;
  }

  100% {
    top: 0px;
  }

}

@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}


/* Animation classes */

.fade-in {
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  animation-fill-mode: both;
}

.fade-out {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
  animation-fill-mode: both;
}

.slide-left {
   -webkit-animation: slideLeft 1s ease-out;
  animation: slideLeft 1s ease-out;
  animation-fill-mode: both; 
}

.slide-up {
   -webkit-animation: slideUp 0.75s ease-out;
  animation: slideUp 0.75s ease-out;
  animation-fill-mode: both; 
}