// ***** KEYFRAMES *****
@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    20% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes menu-slide {
    0% {
        -webkit-height: 0;
        height: 0;
    }
    100% {
        -webkit-height: calc(100vh - 55px);
        height: calc(100vh - 55px);
    }
}

@keyframes menu-slide {
    0% {
        -webkit-height: 0;
        height: 0;
    }
    100% {
        -webkit-height: calc(100vh - 55px);
        height: calc(100vh - 55px);
    }
}

@-webkit-keyframes sideintro {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes sideintro {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes sideintro {
    0% {
        opacity: 0;
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(1.5rem);
        transform: translateY(1.5rem);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(1.5rem);
        transform: translateY(1.5rem);
    }
}

@-webkit-keyframes cross-left {
    0% {
        -webkit-transform: translateY(5px) rotate(0deg);
        transform: translateY(5px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }
}

@keyframes cross-left {
    0% {
        -webkit-transform: translateY(5px) rotate(0deg);
        transform: translateY(5px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(5px) rotate(45deg);
        transform: translateY(5px) rotate(45deg);
    }
}

@-webkit-keyframes cross-right {
    0% {
        -webkit-transform: translateY(-4px) rotate(0deg);
        transform: translateY(-4px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-4px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg);
    }
}

@keyframes cross-right {
    0% {
        -webkit-transform: translateY(-4px) rotate(0deg);
        transform: translateY(-4px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-4px) rotate(-45deg);
        transform: translateY(-4px) rotate(-45deg);
    }
}

@-webkit-keyframes menuSlideDown {
    0% {
        display: -webkit-box;
        display: flex;
        opacity: 0;
        top: -80px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@keyframes menuSlideDown {
    0% {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        top: -80px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

@-webkit-keyframes menuSlideUp {
    0% {
        display: -webkit-box;
        display: flex;
        opacity: 0;
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes menuSlideUp {
    0% {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        -webkit-transform: translateY(80px);
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@-webkit-keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-up {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* Sticky header slides down */

@-webkit-keyframes slideDown {
    0% {
        top: -80px;
    }
    100% {
        top: 0px;
    }
}

@keyframes slideDown {
    0% {
        top: -80px;
    }
    100% {
        top: 0px;
    }
}

@-webkit-keyframes slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(5rem);
        transform: translateX(5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        border: solid 2px hotpink;
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(5rem);
        transform: translateX(5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/* Animation classes */

.fade-in {
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fade-out {
    -webkit-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slide-left {
    -webkit-animation: slide-left 1s ease-out;
    animation: slide-left 1s ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.slide-up {
    -webkit-animation-name: slideUp;
    animation-name: slideUp;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}