// ***** KEYFRAMES *****

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes sideintro {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes sideintro {
    0% {
        opacity: 0;
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}
@keyframes finger {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes cross-left {

0% {
  -webkit-transform: translateY(5px) rotate(0deg);
  -moz-transform: translateY(5px) rotate(0deg);
  -o-transform: translateY(5px) rotate(0deg);
  -ms-transform: translateY(5px) rotate(0deg);
  transform: translateY(5px) rotate(0deg);
}

100% {
  -webkit-transform: translateY(5px) rotate(45deg);
  -moz-transform: translateY(5px) rotate(45deg);
  -o-transform: translateY(5px) rotate(45deg);
  -ms-transform: translateY(5px) rotate(45deg);
  transform: translateY(5px) rotate(45deg);
}
}

@keyframes cross-right {

0% {
      -webkit-transform: translateY(-4px) rotate(0deg);
  -moz-transform: translateY(-4px) rotate(0deg);
  -o-transform: translateY(-4px) rotate(0deg);
  -ms-transform: translateY(-4px) rotate(0deg);
  transform: translateY(-4px) rotate(0deg);
}

100% {
  -webkit-transform: translateY(-4px) rotate(-45deg);
  -moz-transform: translateY(-4px) rotate(-45deg);
  -o-transform: translateY(-4px) rotate(-45deg);
  -ms-transform: translateY(-4px) rotate(-45deg);
  transform: translateY(-4px) rotate(-45deg);
}
}

/* Sticky header slides down */

@-webkit-keyframes slideDown {
  0% { top: -80px; }
  100% { top: 0px; }
}

@keyframes slideDown {
  0% { top: -80px; }  
  100% { top: 0px; }
}
