/* ***** RESETS ***** */

* {
    margin: 0px;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    margin: 0px;
    overflow-x: hidden;
}

a:hover {
	text-decoration: none;
}