$newNavy: #163750;
$nearBlackBackground: #0a1612;
$yellow: #feb63f;
$midGrey: #c5c1c0;
$darkGrey: rgb(82, 82, 82);
$largeText: 'Avenir-Black',
'system-ui',
helvetica,
arial,
sans-serif;
$bodyText: 'Avenir-Next',
'system-ui',
helvetica,
arial,
sans-serif;