/* ***** RESETS ***** */
* {
    margin: 0px;
    padding: 0;
    text-decoration: none;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
/* ***** FONTS ***** */
@font-face {
    font-family: 'Avenir-Black';
    src: url('/assets/fonts/AvenirLTStd-Black.WOFF') format('woff'), url('../myfont.woff') format('woff');
}
@font-face {
    font-family: 'Avenir-Book';
    src: url('/assets/fonts/AvenirLTStd-Book.WOFF') format('woff'), url('../myfont.woff') format('woff');
}
@font-face {
    font-family: 'Avenir-Next';
    src: url('assets/fonts/AvenirNextLT.WOFF') format('woff'),
    url('assets/fonts/AvenirNextLT.WOFF') format('woff'),
    url('assets/fonts/AvenirNextLT.ttf') format('ttf'),
    url('assets/fonts/AvenirNextLT.eot') format('woff'),
    url('assets/fonts/AvenirNextLT.svg') format('svg'),
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Avenir-Next', helvetica, arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.25rem;
}
/****** MEDIA QUERIES ******/
// ***** GENERAL STYLES *****

a,
a:visited {
    text-decoration: none;
    color: #FEB63F !important;
}
a:focus {
    outline-color: #0A1612 !important;
}
button:hover,
a:hover {
    text-decoration: none;
}
html {
    font-size: 1rem;
    font-family: 'Avenir-Next', helvetica, arial, sans-serif;
    text-rendering: geometricPrecision !important;
    -webkit-font-smoothing: antialiased !important;
}
::-moz-selection {
    color: #fff;
    background: #FEB63F;
}
::selection {
    color: #fff;
    background: #FEB63F;
}
.slow {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
.medium {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.fast {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.section {
    max-width: 100vw;
    margin: auto;
    padding: 8rem 0;
    font-size: 3rem;
    text-align: center;
    color: #000;
}
#main-container {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    padding: 0px 1vw;
    box-sizing: border-box;
    padding: 0px;

}
@media (min-width: 700px) {
    #main-container {
        padding: 0 1em;
    }
}
.section-header {
    font-size: 2.5rem;
    line-height: 1;
    font-family: 'Avenir-Black', 'century-gothic', sans-serif;
    text-align: left;
    margin: 0px auto 1.25rem auto;
    color: rgb(82, 82, 82);
    display: block;
    opacity: 0;
    margin-bottom: 2.5rem;

}
@media (min-width: 700px) {
    .section-header {
        padding-left: 0rem;
        font-size: 3.5rem;
    }
}
@media (min-width: 1200px) {
    .section-header {
        padding-left: 12rem;
    }
}
.section-header-wrapper {
    width: 100%;
}
@media (min-width: 700px) {
    .section-header-wrapper {
        width: 40%;
    }
}
.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
.fa {
    font-family: 'Avenir-Book', serif;
    font-size: 2.6rem;
}
.tech-icon-wrapper {
    text-align: left;
    font-size: 1.25rem;
    list-style: none;
    margin-right: 0.5rem;
    margin-bottom: 3rem;
    text-align: left;
    width: auto;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    position: relative;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
}
.tech-icon-wrapper svg {
    margin: 0 0.5em;
}
.tech-icon-wrapper:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.tech-icon-wrapper::before,
.tech-icon-wrapper::after {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -10px);
            transform: translate(-50%, -10px);
    opacity: 0;
    -webkit-transition: .2s;
    transition: .2s;
}
.tech-icon-wrapper::before {
    content: '';
    top: calc(100% - 6px);
    border: solid 6px transparent;
    border-bottom-color: #163750;
}
.tech-icon-wrapper::after {
    content: attr(aria-label);
    top: calc(100% + 4px);
    padding: 0.5em 1em;
    font-size: 0.75rem;
    color: white;
    min-width: 3em;
    font-weight: bold;
    background: #163750;
    border-radius: 2px;
    text-align: center;
}
@media (min-width: 700px) {
    .tech-icon-wrapper::after {
        font-size: 0.875rem;
    }
}
.tech-icon-wrapper:hover::before,
.tech-icon-wrapper:hover::after {
    opacity: 1;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
}
.tech-icon-wrapper:first-child {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
.tech-icon-wrapper:nth-child(2) {
    -webkit-animation-delay: 0.55s;
            animation-delay: 0.55s;
}
.tech-icon-wrapper:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
}
.tech-icon-wrapper:nth-child(4) {
    -webkit-animation-delay: 0.65s;
            animation-delay: 0.65s;
}
.tech-icon-wrapper:nth-child(5) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
}
.tech-icon-wrapper:nth-child(6) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
}
.tech-icon-wrapper:nth-child(7) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
}
.tech-icon-wrapper:nth-child(8) {
    -webkit-animation-delay: 0.85s;
            animation-delay: 0.85s;
}
.btn-contact {
    margin-top: 4rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #fff;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.2em;
    padding: 1.5em 3em;
    text-align: center;
    max-width: 100%;
    color: #1A1D1A;
    border: solid 4px #fff;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
    cursor: pointer;
    -webkit-animation-delay: 0.25s !important;
            animation-delay: 0.25s !important;
    opacity: 0;
}
.btn-contact:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border: solid 4px #fff;
}
// ***** KEYFRAMES *****

@-webkit-keyframes slideUp 0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
}
// ***** KEYFRAMES *****

@-webkit-keyframes slideUp 20% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
// ***** KEYFRAMES *****

@-webkit-keyframes slideUp 100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}
@keyframes slideUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

}
@-webkit-keyframes sideintro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }

}
@-webkit-keyframes sideintro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}
@keyframes sideintro {
  0% {
    opacity: 0;
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}
@-webkit-keyframes finger {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
  }

}
@keyframes finger {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
  }

}
@-webkit-keyframes cross-left {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
    transform: translateY(5px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

}
@keyframes cross-left {
  0% {
    -webkit-transform: translateY(5px) rotate(0deg);
    transform: translateY(5px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(45deg);
  }

}
@-webkit-keyframes cross-right {
  0% {
    -webkit-transform: translateY(-4px) rotate(0deg);
    transform: translateY(-4px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
  }

}
@keyframes cross-right {
  0% {
    -webkit-transform: translateY(-4px) rotate(0deg);
    transform: translateY(-4px) rotate(0deg);
  }

  100% {
    -webkit-transform: translateY(-4px) rotate(-45deg);
    transform: translateY(-4px) rotate(-45deg);
  }

}
/* Sticky header slides down */
@-webkit-keyframes slideDown {
  0% {
    top: -80px;
  }

  100% {
    top: 0px;
  }

}
@keyframes slideDown {
  0% {
    top: -80px;
  }

  100% {
    top: 0px;
  }

}
@-webkit-keyframes slideLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

}
/* Animation classes */
.fade-in {
  -webkit-animation: fadeIn 1.2s ease-in-out;
  animation: fadeIn 1.2s ease-in-out;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fade-out {
  -webkit-animation: fadeOut 0.5s;
  animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.slide-left {
   -webkit-animation: slideLeft 1s ease-out;
  animation: slideLeft 1s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; 
}
.slide-up {
   -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; 
}
/* ***** NAVIGATION ***** */
.site-header {
    width: 100vw;
    padding: 1.5em 0;
    padding-bottom: 0;
    margin: auto;
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 1);
    z-index: 15;
    height: 55px;
}
@media (min-width: 700px) {
    .site-header {
        padding: 2.5em 0;
        height: 80px;
    }
}
@media (min-width: 1200px) {
    .site-header {
        padding: 0;
    }
}
/* Sticky Header Styles */
.sticky {
    position: fixed;
    top: -80px;
    height: 80px;
    -webkit-animation: slideDown 0.4s ease-out forwards;
    animation: slideDown 0.4s ease-out forwards;
}
.menu-btn {
    cursor: pointer;
    display: inline-block;
    display: block;
    float: right;
    height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.menu-btn span {
    position: relative;
    width: 28px;
    height: 4px;
    background: #a9a9a9;
    z-index: 99;
     display: block;
     -webkit-transition: top 0.2s ease-in-out 0.2s, opacity 0.5s ease 1s, -webkit-transform 0.2s ease;
     transition: top 0.2s ease-in-out 0.2s, opacity 0.5s ease 1s, -webkit-transform 0.2s ease;
     transition: top 0.2s ease-in-out 0.2s, transform 0.2s ease, opacity 0.5s ease 1s;
     transition: top 0.2s ease-in-out 0.2s, transform 0.2s ease, opacity 0.5s ease 1s, -webkit-transform 0.2s ease;
}
@media (min-width: 700px) {
    .menu-btn span {
        width: 40px;
        height: 5px;
    }
}
.menu-btn span:first-child {
    top: 4px;
}
@media (min-width: 700px) {
    .menu-btn span:first-child {
        top: 7px;
    }
}
.menu-btn span:nth-child(2) {
    top: 10px;
}
@media (min-width: 700px) {
    .menu-btn span:nth-child(2) {
        top: 14px;
    }
}
.menu-btn span:last-child {
    top: 16px;
}
@media (min-width: 700px) {
    .menu-btn span:last-child {
        top: 20px;
    }
}
.menu-btn span:first-child.opened {
        top: 12px;
        width: 30px;
     -webkit-transition: top 0.2s ease-in-out, width 0.1s ease 0.3s, -webkit-transform 0.1s ease 0.3s;
     transition: top 0.2s ease-in-out, width 0.1s ease 0.3s, -webkit-transform 0.1s ease 0.3s;
     transition: top 0.2s ease-in-out, transform 0.1s ease 0.3s, width 0.1s ease 0.3s;
     transition: top 0.2s ease-in-out, transform 0.1s ease 0.3s, width 0.1s ease 0.3s, -webkit-transform 0.1s ease 0.3s;
     -webkit-transform: rotate(45deg);
             transform: rotate(45deg);
}
@media (min-width: 700px) {
    .menu-btn span:first-child.opened {
        width: 42px;
    }
}
.menu-btn span:last-child.opened {
    top: 8px;
    width: 30px;
    -webkit-transition: top 0.2s ease-in-out, width 0.1s ease 0.3s, -webkit-transform 0.1s ease 0.3s;
    transition: top 0.2s ease-in-out, width 0.1s ease 0.3s, -webkit-transform 0.1s ease 0.3s;
    transition: top 0.2s ease-in-out, transform 0.1s ease 0.3s, width 0.1s ease 0.3s;
    transition: top 0.2s ease-in-out, transform 0.1s ease 0.3s, width 0.1s ease 0.3s, -webkit-transform 0.1s ease 0.3s;
     -webkit-transform: rotate(-45deg);
             transform: rotate(-45deg);
}
@media (min-width: 700px) {
    .menu-btn span:last-child.opened {
        width: 42px;
        top: 6px;
    }
}
.site-nav {
    position: absolute;
   left: -110vw;
   letter-spacing: 0.375rem;
   z-index: 5;
   top: 65px;
   height: calc(100vh - 60px);
   width: 100vw;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; 
    background: #fff; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            

    }
@media (min-width: 1200px) {
    .site-nav {
        width: 60%;
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        z-index: 10;
    }
}
.site-nav ul{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: -20px auto 0 auto;
    padding: 0;
    text-align: center;
    height: auto;
    top: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 1200px) {
    .site-nav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 0px;
        margin: 0 auto;
    }
}
.site-nav ul a{
    display: inline-block;
    text-decoration: none;
    color: #a9a9a9;
    padding: 5px auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}
@media (min-width: 1200px) {
    .site-nav ul a {
        width: auto;
    }
}
.site-nav ul a:hover {
    margin: 0;
    text-decoration: none;
    color: #0A1612;
}
.site-nav ul a:after {
    display: none;
}
@media (min-width: 1200px) {
    .site-nav ul a:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        text-decoration: none;
        -webkit-transition: width 0.4s ease, background-color .5s ease;
        transition: width 0.4s ease, background-color .5s ease;
    }
}
.site-nav ul a:hover:after {
    width: 100%;
    background: #0A1612;
}
.hidden {
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.nav__logo {
    width: auto;
    height: 30px;
    position: relative;
    left: 2em;
    display: inline-block;
    z-index: 25;
}
@media (min-width: 700px) {
    .nav__logo {
        height: 40px;
    }
}
@media (min-width: 1200px) {
    .nav__logo {
        display: none;
    }
}
.menu-btn {
position: relative;
    right: 2em;
    }
@media (min-width: 1200px) {
    .menu-btn {
        display: none;
    }
}
.menu-btn span {
        opacity: 1;
    }
.menu-btn div {
    display: block;
    -webkit-transition: all 1s;
    transition: all 1s;      
    
}
@media (min-width: 1200px) {
    .menu-btn div {
        display: none;
    }
}
.site-nav__item {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-flex: 0;
                -ms-flex: 0 0 100%;
                    flex: 0 0 100%;
            line-height: 1.75;
            color: #a9a9a9;
            margin: 0.5em 0;
            font-weight: bold;
}
@media (min-width: 1200px) {
    .site-nav__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
        flex: 0 0 160px;
    }
}
.logo {
    display: none;
}
@media (min-width: 1200px) {
    .logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: inline-block;
        width: 2.5rem;
    }
}
.opened {
    background: #0A1612 !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.expand {
    margin: 0;
    color: #a9a9a9;
    width: 100vw;
    left: 0;
    top: 70px;
    background: #fff;
    z-index: 994;
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
@media (min-width: 1200px) {
    .expand {
        height: 110px;
        top: 0;
    }
}
.fixed {
    position: fixed;
    z-index: 1;
    display: none;

}
.fa-lg {
        font-size: 1.0em;
        line-height: .75em;
        vertical-align: -15%;
    }
.mobile-toggle {
        display: block;
    }
/* ***** WELCOME SECTION ***** */
.intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 0px;
    background-color: #163750;
    height: calc(100vh - 22rem); 
    position: relative;
}
@media (min-width: 700px) {
    .intro-section {
        height: calc(100vh - 22rem);
    }
}
@media (min-width: 1200px) {}
.intro-text {
    color: #FEB63F;
    font-size: 2.5rem;
    padding: 0 1.5rem;
    position: relative;
    width: 50rem;
    font-family: 'Avenir-Black', sans-serif;
    font-weight: bold;
    margin-top: 0;
    text-align: center;
    line-height: 1.25;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation: slideUp 1s ease-out;
            animation: slideUp 1s ease-out;
}
@media (min-width: 700px) {
    .intro-text {
        font-size: 4rem;
    }
}
@media (min-width: 1200px) {
    .intro-text {
        font-size: 4rem;
    }
}
.mouse {
    position: absolute;
    width: 1rem;
    height: 2.5rem;
    bottom: 40px;
    left: 50%;
    margin-left: -0.5rem;
    border-radius: 15px;
    border: 2px solid #fff;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
}
.scroll {
    display: block;
    width: 4px;
    height: 4px;
    margin: 6px auto;
    border-radius: 4px;
    background: #fff;
    -webkit-animation: finger 1s infinite;
    animation: finger 1s infinite;
}
.stick-me .sticking {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.sideintro {
    -webkit-animation: sideintro 3s;
    animation: sideintro 3s;
    -webkit-animation-fill-mode: backwards;
            animation-fill-mode: backwards;
}
.intro {
    -webkit-animation: intro 1s;
    animation: intro 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
/* ***** ABOUT SECTION ***** */
.about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    color: rgb(82, 82, 82);
    background-color: #efefef;
    font-family: 'Avenir-Next', helvetica, arial, sans-serif;
    font-size: 1.75rem;
    padding: 4em 1em;

}
@media (min-width: 1200px) {
    .about-section {
        padding: 4em 0;
    }
}
.about-section p {
    text-align: left;
    opacity: 0;
    margin-top: 1.5rem;
    line-height: 1.5;
    width: 100%;
    font-size: 1rem;
}
@media (min-width: 700px) {
    .about-section p {
        font-size: 1.25rem;
    }
}
@media (min-width: 1200px) {
    .about-section p {
        width: 75%;
    }
}
.skills-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
@media (min-width: 1200px) {
    .skills-list {
        width: 75%;
    }
}
.about-text__subtitle {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 4rem;
}
@media (min-width: 1200px) {
    .about-text__subtitle {
        font-size: 1.5rem;
    }
}
.about-section a {
    color: #FEB63F;
    display: inline-block;
    position: relative;
}
.about-section a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #FEB63F;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.about-section a:hover::after {
    width: 100%;
}
.about-section ul {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
p:nth-child(1) {
    margin-top: 0;
}
.about-text {
    width: 100%;

}
@media (min-width: 700px) {
    .about-text {
        width: 60%;
    }
}
@media (min-width: 1200px) {
    .about-text {
        width: 50%;
    }
}
/* ***** SKILLS SECTION ***** */
.skills-section-header {
    color: #efefef !important;

}
#skills {
    color: #efefef;
    background-color: #c5c1c0;
    font-family: 'Avenir-Book', serif;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: left;
    padding: 3em 1em;
    min-height: 75vh;
    box-sizing: border-box;
}
#skills hr {
    border: solid 2px #efefef ;
}
#skills ul {
    color: #efefef;
    list-style-position: outside;
}
#skills ul li {
    margin-bottom: 20px;
}
#skills .skills-wrapper {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 3em auto 0.5em auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.75rem;
}
@media (min-width: 700px) {
    #skills .skills-wrapper {
        width: 80%;
        font-size: 2rem;
        margin: 4em auto 0.75em auto;
    }
}
@media (min-width: 1200px) {
    #skills .skills-wrapper {
        margin: 5em auto 1em auto;
        font-size: 2.6rem;
    }
}
#skills .skills-left, #skills .skills-right {
    width: 50%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
}
#skills .skills-left {
    margin-bottom: 5rem;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    opacity: 0;
}
#skills .fadeOut,
#skills #skills ul {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-transition: all 1s;
    transition: all 1s;
}
#skills .delayed-text-1,
#skills .delayed-text-2,
#skills .delayed-text-3,
#skills .delayed-text-4,
#skills .delayed-text-5,
#skills .delayed-text-6,
#skills .delayed-text-7,
#skills .delayed-text-8 {
    opacity: 0;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#skills .delayed-text-1 {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#skills .delayed-text-2 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#skills .delayed-text-3 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#skills .delayed-text-4 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#skills .delayed-text-5 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#skills .delayed-text-6 {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#skills .delayed-text-7 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#skills .delayed-text-8 {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
/* ***** PROJECTS SECTION ***** */
.projects-section {
    color: rgb(82, 82, 82);
    background-color: #fff;
    font-size: 1.25rem;
    text-align: left;
    min-height: 100vh;
    box-sizing: border-box;
}
.projects-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0em 1em;
}
.projects-gallery-intro {
        text-align: left;
        opacity: 0;

        line-height: 1.5;
        opacity: 0;

    }
@media (min-width: 700px) {
    .projects-gallery-intro {
        margin-top: 1.5rem;
        width: 50%;
    }
}
.projects-gallery-intro p {
    font-size: 1rem;
}
@media (min-width: 700px) {
    .projects-gallery-intro p {
        width: 80%;
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    .projects-gallery-intro p {
        font-size: 1.25rem;
        width: 75%;
    }
}
.gallery {
    max-width: 100%;
    margin-top: 4rem;    /*center aligned*/
    padding: 0;
    font-size: 0;    /* Remember to change it back to normal font size if have captions */
    display: block;
    list-style: none;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;

}
@media (min-width: 1200px) {
    .gallery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.gallery li {
    display: inline-block;
    width: 100%;
    max-height: 90vw;
    height: 325px;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    margin-top: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}
@media (min-width: 475px) {
    .gallery li {
        width: 50%;
    }
}
@media (min-width: 700px) {
    .gallery li {
        height: 350px;
    }
}
@media (min-width: 1200px) {
    .gallery li {
        width: 32%;
        margin: 0.75rem 0.5rem;
        max-height: 340px;
    }
}
/* The wrapper for each item */
.project-cell {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;

}
@media (min-width: 700px) {}
.project-cell img {
    max-height: 100%;
    height: auto;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    min-height: 100%;
    border: none;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 1s;
    transition: all 1s;
}
.project-cell img:hover {
    -webkit-transform: scale(1.5) brightness(0.3);
    transform: scale(1.5) brightness(0.3);
}
/* If have the image layer */
.gallery li:hover.cell__thumbnail {
    -webkit-transform: scale(1.1) brightness(1);
            transform: scale(1.1) brightness(1);
}
/* Overlay layer */
.cell__overlay {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #FEB63F;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);    /*For IE6 - IE8*/
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}
.gallery li:hover .cell__overlay {
    opacity: 1;
}
.gallery li:hover .rig-cell__overlay {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(100) scale(1.0, 1.0);
}
/* Caption */
.cell__title {
    display: block;
    padding: 0 2em;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: inherit;
    margin-top: -1.25em;
    color: white;
    opacity: 0;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    position: relative;
    font-size: 1.5rem;

}
.cell__title::after {
    content: '';
    position: absolute;
    top: 2.5em;
    left: calc(50% - 0.75em);
    width: 1.5em;
    height: 4px;
    background: #fff;
}
@media (min-width: 700px) {
    .cell__title {
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    .cell__title {
        font-size: 1.5rem;
    }
}
.gallery li:hover .cell__title {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
}
.about-section p:nth-child(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
}
.about-section p:nth-child(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
}
.about-section p:nth-child(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
}
.about-section p:nth-child(5) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
}
/* ***** PROJECTS PAGE ***** */
#project-header {
    margin-top: 0px;
    background-color: #163750;
    height: calc(80vh - 60px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (min-width: 700px) {
    #project-header {
        height: calc(80vh - 98px);
    }
}
@media (min-width: 1200px) {}
#project-header__container {
    color: #FEB63F;
    font-size: 4rem;
    padding: 0 0.5em ;
    font-family: 'Avenir-Black', sans-serif;
    font-weight: bold;
    text-align: center;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
}
@media (min-width: 700px) {
    #project-header__container {
        font-size: 6rem;
    }
}
@media (min-width: 1200px) {
    #project-header__container {
        font-size: 8rem;
        top: 70%;
    }
}
#summary {
        padding: 3em 1em;
        background: #c5c1c0;
        font-family: 'Avenir-Book', serif;
}
.summary-wrapper {
    width: 90%;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: left;
    color: #e9e9e9;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.75rem;
}
@media (min-width: 700px) {
    .summary-wrapper {
        width: 80%;
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    .summary-wrapper {
        width: 70%;
        font-size: 2.6rem;
    }
}
.summary-left, .summary-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 200px;
            flex: 1 1 200px;  
}
.summary-right {
    width: 50%;
}
.summary-left {  
    width: 30%;
    
    color: #0A1612;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;

}
@media (min-width: 1200px) {
    .summary-left {
        margin-bottom: 5rem;
    }
}
.project-summary__link {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline-block;
    color: #0A1612;
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: bold;
    padding: 5px auto;
    text-align: center;
    width: 100%;
    letter-spacing: 0.375rem;
}
@media (min-width: 700px) {
    .project-summary__link {
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    .project-summary__link {
        font-size: 2rem;
        margin-bottom: 50px;
    }
}
.project-summary__link:hover {
    text-decoration: none;
    color: #0A1612;
    text-decoration: none;
}
.project-summary__link:hover:after {
    width: 100%;
    background: #0A1612;
}
.project-summary__link:after {
    display: none;
}
@media (min-width: 1200px) {
    .project-summary__link:after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        text-decoration: none;
        -webkit-transition: width .5s ease, background-color .5s ease;
        transition: width .5s ease, background-color .5s ease;
    }
}
.link-holder {
    display: inline-block;
    margin-bottom: 50px;
}
#details {
    background: #efefef;
    padding: 3em 1em;
    text-align: center;
}
.device-screenshots {
    width: 1000px;
    max-width: 100vw;
    margin-left: -1em;
}
.btn-return {
    margin: 0px auto;
    font-family: 'Avenir-Black', century-gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    display: inline-block;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 1.5em 2em;
    text-align: center;
    max-width: 100%;
    width: auto;
    color: #1A1D1A;
    border: solid 4px #1A1D1A;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
@media (min-width: 1200px) {
    .btn-return {
        padding: 2em 5em;
    }
}
.btn-return:hover {
    font-family: 'Avenir-Black', century gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    background-color: #1A1D1A;
    border: solid 4px #1A1D1A;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}
.details__tech-list {
       margin: 10px 0px 100px 0px;
       padding: 0;
}
.details__tech-list ul {
    margin-top: 50px;
    }
@media (min-width: 1200px) {
    .details__tech-list ul {
        margin-top: 0px;
    }
}
.details__tech-list li {
    display: block;
    margin: 0 25px;
    color: #a9a9a9;
    font-size: 1.75rem;
}
@media (min-width: 700px) {
    .details__tech-list li {
        font-size: 2.25rem;
    }
}
@media (min-width: 1200px) {
    .details__tech-list li {
        font-size: 2.5rem;
        display: inline-block;
    }
}
.details__full-summary {
    font-size: 1.75rem;
    color: #a9a9a9;
    width: 80%;
    margin: 0 auto 100px auto;
}
@media (min-width: 1200px) {
    .details__full-summary {
        font-size: 2.5rem;
        width: 70%;
    }
}
.tech-section-header {
    color: #a9a9a9 !important;
}
.hr {
    border: solid 2px #a9a9a9;
    width: 40px;
}
/* ***** CONTACT SECTION ***** */
.contact-section {
    color: #fff;
    background-color: #0A1612;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: left;
    position: relative;

}
@media (min-width: 1200px) {}
.contact-section .section-header
    {
    color: #fff;
}
.contact-wrapper {
    margin: 3em 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

}
@media (min-width: 700px) {
    .contact-wrapper {
        width: 80%;
        margin: 6em auto;
    }
}
.contact-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    text-align: left;

}
@media (min-width: 700px) {
    .contact-text {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}
.contact-text p {
    text-align: left;
    margin-top: 1.5rem;
    line-height: 1.5;
    opacity: 0;
}
@media (min-width: 700px) {
    .contact-text p {
        width: 80%;
        font-size: 2rem;
    }
}
@media (min-width: 1200px) {
    .contact-text p {
        font-size: 1.25rem;
        width: 75%;
    }
}
.socialicons {
    height: 20px;
    display: inline-block;
}
.fa {
    color: #fff;
    font-family: 'Avenir-Book', serif;
    font-size: 26px;
    text-align: center;
    width: 100%;
}
.social-icons-wrapper {
    margin-top: 4rem;
}
.social-icons-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}
.social-icon {
    width: 1.5rem;
    fill: #fff;
    margin: 0 1.5rem;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
}
.social-icon:hover {
    fill: #FEB63F;
}
.social-icon:first-child {
    margin-left: 0;
}
.site-footer {
    color: #a9a9a9;
    background-color: #fff;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 0.75rem;
    position: relative;
    bottom: 10px;
    padding: 1.5rem;
}



