@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');
/* ***** RESETS ***** */
* {
    margin: 0px;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    margin: 0px;
    overflow-x: hidden;
}
a:hover {
	text-decoration: none;
}
/* ***** FONTS ***** */
@font-face {
  font-family: 'Avenir-Black';
  font-display: swap;
  src: url('/assets/fonts/AvenirLTStd-Black.WOFF') format('woff'),
    url('../myfont.woff') format('woff');
}
@font-face {
  font-family: 'Avenir-Book';
  font-display: swap;
  src: url('/assets/fonts/AvenirLTStd-Book.WOFF') format('woff'),
    url('../myfont.woff') format('woff');
}
@font-face {
  font-family: 'Avenir-Next';
  font-display: swap;
  src: url('/assets/fonts/AvenirNextLTRegular.woff') format('woff'),
    url('/assets/fonts/AvenirNextLTRegular.woff2') format('woff2'),
    url('/assets/fonts/AvenirNextLTRegular.ttf') format('ttf'),
    url('/assets/fonts/AvenirNextLTRegular.svg') format('svg');
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Avenir-Next',
'system-ui',
helvetica,
arial,
sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.25rem;
}
/****** MEDIA QUERIES ******/
// ***** GENERAL STYLES *****
a,
a:visited {
  text-decoration: none;
  color: #feb63f !important;
}
a:focus {
  outline-color: #0a1612 !important;
}
button:hover,
a:hover {
  text-decoration: none;
}
html {
  font-size: 1rem;
  font-family: 'Avenir-Next',
'system-ui',
helvetica,
arial,
sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased !important;
}
::-moz-selection {
  color: #fff;
  background: #feb63f;
}
::selection {
  color: #fff;
  background: #feb63f;
}
.slow {
  animation-duration: 3s;
}
.medium {
  animation-duration: 1s;
}
.fast {
  animation-duration: 0.5s;
}
.section {
  display: -ms-grid;
  display: grid;
  max-width: 100vw;
  margin: auto;
  padding: 4rem 1.5em;
  font-size: 3rem;
  text-align: center;
  color: #000;
}
@media (min-width: 667px){
    .section{
        -ms-grid-columns: 0.8fr 1.2fr;
        grid-template-columns: 0.8fr 1.2fr;
        grid-gap: 5%;
    }
}
@media (min-width: 1069px){
    .section{
        grid-gap: 10%;
    }
}
#main-container {
  background-color: #fff;
  width: 100%;
  padding: 0px 1vw;
  box-sizing: border-box;
  padding: 0px;
}
@media (min-width: 667px){
    #main-container{
        padding: 0 1em;
    }
}
.section-header {
  font-size: 2.25rem;
  line-height: 1.25;
  font-family: 'Avenir-Black',
'system-ui',
helvetica,
arial,
sans-serif;
  text-align: left;
  margin: 0px auto;
  color: rgb(82, 82, 82);
  display: block;
  transform: translateY(100%);
  will-change: transform;
  letter-spacing: -0.02em;
}
@media (min-width: 667px){
    .section-header{
        font-size: 3.25rem;
        letter-spacing: normal;
    }
}
@media (min-width: 1069px){
    .section-header{
        text-align: right;
    }
}
.section-header-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 2.5rem;
}
@media (min-width: 667px){
    .section-header-wrapper{
        margin-bottom: auto;
    }
}
.fadeOut {
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}
.fa {
  font-family: 'Avenir-Book', serif;
  font-size: 2.6rem;
}
.tech-icon-wrapper {
  text-align: left;
  font-size: 1.25rem;
  list-style: none;
  margin-right: 0.5rem;
  margin-bottom: 3rem;
  text-align: left;
  width: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: all 0.2s;
  position: relative;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  opacity: 0;
}
.tech-icon-wrapper svg {
    margin: 0 0.5em;
}
.tech-icon-wrapper:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.tech-icon-wrapper::before,
.tech-icon-wrapper::after {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -10px);
  opacity: 0;
  transition: 0.2s;
}
.tech-icon-wrapper::before {
  content: '';
  top: calc(100% - 6px);
  border: solid 6px transparent;
  border-bottom-color: #163750;
}
.tech-icon-wrapper::after {
  content: attr(aria-label);
  top: calc(100% + 4px);
  padding: 0.5em 1em;
  font-size: 0.75rem;
  color: white;
  min-width: 3em;
  font-weight: bold;
  background: #163750;
  border-radius: 2px;
  text-align: center;
}
@media (min-width: 667px){
    .tech-icon-wrapper::after{
        font-size: 0.875rem;
    }
}
.tech-icon-wrapper:hover::before,
.tech-icon-wrapper:hover::after {
  opacity: 1;
  transform: translate(-50%);
}
.tech-icon-wrapper:first-child {
  animation-delay: 0.5s;
}
.tech-icon-wrapper:nth-child(2) {
  animation-delay: 0.55s;
}
.tech-icon-wrapper:nth-child(3) {
  animation-delay: 0.6s;
}
.tech-icon-wrapper:nth-child(4) {
  animation-delay: 0.65s;
}
.tech-icon-wrapper:nth-child(5) {
  animation-delay: 0.7s;
}
.tech-icon-wrapper:nth-child(6) {
  animation-delay: 0.75s;
}
.tech-icon-wrapper:nth-child(7) {
  animation-delay: 0.8s;
}
.tech-icon-wrapper:nth-child(8) {
  animation-delay: 0.85s;
}
.btn-contact {
  margin-top: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #fff;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.2em;
  padding: 1.25em 3em;
  text-align: center;
  max-width: 100%;
  color: #1a1d1a;
  border: solid 4px #fff;
  transition: all ease 0.3s;
  cursor: pointer;
  opacity: 0;
}
@media (min-width: 1069px){
    .btn-contact{
        margin-top: 4rem;
        padding: 1.5em 3em;
    }
}
.btn-contact:hover {
  text-decoration: none;
  color: #fff;
  background-color: transparent;
  border: solid 4px #fff;
}
button:active {
  outline: 0;
  border: 0;
}
// ***** KEYFRAMES *****
@-webkit-keyframes slideUp 0% {
    opacity: 0;
    transform: translateY(40px);
}
// ***** KEYFRAMES *****
@-webkit-keyframes slideUp 20% {
    transform: translateY(0);
}
// ***** KEYFRAMES *****
@-webkit-keyframes slideUp 100% {
    opacity: 1;
    transform: translateY(0);
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes menu-slide {
    0% {
        -webkit-height: 0;
        height: 0;
    }
    100% {
        -webkit-height: calc(100vh - 55px);
        height: calc(100vh - 55px);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sideintro {
    0% {
        opacity: 0;
        transform: translateX(500px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes finger {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(1.5rem);
    }
}
@keyframes cross-left {
    0% {
        transform: translateY(5px) rotate(0deg);
    }
    100% {
        transform: translateY(5px) rotate(45deg);
    }
}
@keyframes cross-right {
    0% {
        transform: translateY(-4px) rotate(0deg);
    }
    100% {
        transform: translateY(-4px) rotate(-45deg);
    }
}
@keyframes menuSlideDown {
    0% {
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        top: -80px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}
@keyframes menuSlideUp {
    0% {
        display: -ms-flexbox;
        display: flex;
        opacity: 0;
        transform: translateY(80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
/* Sticky header slides down */
@keyframes slideDown {
    0% {
        top: -80px;
    }
    100% {
        top: 0px;
    }
}
@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes enter-up {
    0% {
        opacity: 0;
        transform: translateY(100%));
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Animation classes */
.fade-in {
    animation: fadeIn 1.2s cubic-bezier(0.6, 0, 0.2, 1);
    animation-fill-mode: both;
}
.fade-out {
    animation: fadeOut 0.5s;
    animation-fill-mode: both;
}
.slide-left {
    animation: slide-left 1s cubic-bezier(0.6, 0, 0.2, 1);
    animation-fill-mode: forwards;
}
.enter-up {
    animation: enter-up 0.8s cubic-bezier(0.6, 0, 0.2, 1);
    animation-fill-mode: forwards;
}
.slide-up {
    animation-name: slideUp;
    animation-fill-mode: both;
    transition: all 1s cubic-bezier(0.6, 0, 0.2, 1);
}
/* ***** NAVIGATION ***** */
.site-header {
    width: 100%;
    max-width: 100vw;
    padding: 0.5em 1em;
    margin: auto;
    top: 0;
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 1.25rem;
    background-color: rgba(255, 255, 255, 1);
    z-index: 15;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 667px){
    .site-header{
        padding: 1em;
    }
}
/* Sticky Header Styles */
.sticky {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.075s ease-out;
}
.header--fixed {
    transition: transform 0.25s ease-out;
    transform: translateY(0);
}
.menu-btn {
    cursor: pointer;
    display: inline-block;
    display: block;
    height: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 10;
}
.menu-btn span {
    position: relative;
    width: 28px;
    height: 3px;
    background: #a9a9a9;
    z-index: 99;
    transition: top 0.2s ease-in-out 0.2s, transform 0.2s ease, opacity 0.2s ease 0.2s;
}
@media (min-width: 667px){
    .menu-btn span{
        width: 36px;
        height: 3px;
    }
}
.menu-btn span:first-child {
    top: 3px;
}
@media (min-width: 667px){
    .menu-btn span:first-child{
        top: 6px;
    }
}
.menu-btn span:nth-child(2) {
    top: 10px;
}
@media (min-width: 667px){
    .menu-btn span:nth-child(2){
        top: 13px;
    }
}
.menu-btn span:last-child {
    top: 16px;
}
@media (min-width: 667px){
    .menu-btn span:last-child{
        top: 20px;
    }
}
.menu-btn span:first-child.opened {
    top: 12px;
    width: 30px;
    transition: top 0.2s ease-in-out, transform 0.1s ease 0.3s, width 0.1s ease 0.3s;
    transform: rotate(45deg);
}
@media (min-width: 667px){
    .menu-btn span:first-child.opened{
        width: 40px;
        top: 14px;
    }
}
.menu-btn span:last-child.opened {
    top: 5.5px;
    width: 30px;
    transition: top 0.2s ease-in-out, transform 0.1s ease 0.3s, width 0.1s ease 0.3s;
    transform: rotate(-45deg);
}
@media (min-width: 667px){
    .menu-btn span:last-child.opened{
        width: 40px;
        top: 7px;
    }
}
.site-header .menu--active {
    height: 100vh;
    opacity: 1;
    pointer-events: auto;
}
@media (min-width: 667px){
    .site-header .menu--active{
        height: auto;
    }
}
.site-nav .site-nav__item--active {
    animation: slide-up 0.85s cubic-bezier(0.6, 0, 0.2, 1);
    animation-fill-mode: both;
}
.site-nav {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    letter-spacing: 0.375rem;
    z-index: 5;
    height: 100vh;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
    background: #fff;
    pointer-events: none;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 1em;
    opacity: 0;
}
@media (min-width: 667px){
    .site-nav{
        margin: auto;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        padding: 0;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        z-index: 10;
        opacity: 1;
        pointer-events: auto;
    }
}
@media (min-width: 1069px){
    .site-nav{
        width: 80%;
    }
}
.site-nav ul {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: -20px auto 0 auto;
    padding: 0 10%;
    text-align: center;
    height: auto;
    top: 40px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
}
@media (min-width: 667px){
    .site-nav ul{
        -ms-flex-direction: row;
        flex-direction: row;
        margin-top: 0px;
        margin: 0 auto;
        padding: 0;
    }
}
.site-nav ul a {
    display: inline-block;
    text-decoration: none;
    color: #a9a9a9;
    padding: 5px auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.25s cubic-bezier(0.6, 0, 0.2, 1);
}
@media (min-width: 1069px){
    .site-nav ul a{
        width: auto;
    }
}
.site-nav ul a:hover {
    margin: 0;
    text-decoration: none;
    color: #0a1612;
}
.site-nav ul a:after {
    display: none;
}
@media (min-width: 1069px){
    .site-nav ul a:after{
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: transparent;
        text-decoration: none;
        transition: width 0.4s ease, background-color 0.5s ease;
    }
}
.site-nav ul a:hover:after {
    width: 100%;
    background: #0a1612;
}
.hidden {
    opacity: 0;
    transition: all 0.5s;
}
.nav__logo {
    width: auto;
    height: 36px;
    position: relative;
    display: inline-block;
    z-index: 25;
}
@media (min-width: 667px){
    .nav__logo{
        display: none;
    }
}
.menu-btn {
    position: relative;
}
@media (min-width: 667px){
    .menu-btn{
        display: none;
    }
}
.menu-btn div {
    display: block;
    transition: all 1s;
}
@media (min-width: 1069px){
    .menu-btn div{
        display: none;
    }
}
.site-nav__item {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    line-height: 1.75;
    color: #a9a9a9;
    margin: 1em 2.5em;
    font-weight: bold;
}
@media (min-width: 667px){
    .site-nav__item{
        margin: 0em 2.5em;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
    }
}
.site-nav__item:first-child {
    animation-delay: 0.2s;
}
.site-nav__item:nth-child(2) {
    animation-delay: 0.3s;
}
.site-nav__item:nth-child(3) {
    animation-delay: 0.4s;
}
.site-nav__item:nth-child(4) {
    animation-delay: 0.5s;
}
.logo {
    display: none;
}
@media (min-width: 667px){
    .logo{
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        display: inline-block;
        width: 2.5rem;
    }
}
.opened {
    background: #0a1612 !important;
    transition: all 0.5s;
}
.expand {
    margin: 0;
    color: #a9a9a9;
    width: 100vw;
    left: 0;
    top: 70px;
    background: #fff;
    z-index: 994;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    transition: all 0.4s;
}
@media (min-width: 1069px){
    .expand{
        height: 110px;
        top: 0;
    }
}
.fixed {
    position: fixed;
    z-index: 1;
    display: none;
}
.fa-lg {
    font-size: 1em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.mobile-toggle {
    display: block;
}
/* ***** WELCOME SECTION ***** */
.intro-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 0px;
  background-color: #163750;
  height: calc(100vh - 100px);
  position: relative;
  padding: 0;
  margin-top: -5%;
}
@media (min-width: 667px){
    .intro-section{
        height: calc(100vh - 100px);
        padding: 1em 2em;
    }
}
.intro-text {
  color: #feb63f;
  font-size: 2.25rem;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
  font-family: 'Avenir-Black',
'system-ui',
helvetica,
arial,
sans-serif;
  text-rendering: optimizeSpeed;
  font-weight: bold;
  text-align: center;
  line-height: 1.25;
  animation-fill-mode: forwards;
  animation: slideUp 0.8s ease-out;
  letter-spacing: -0.02em;
}
@media (min-width: 667px){
    .intro-text{
        top: 25%;
        font-size: 3.25rem;
        max-width: 40rem;
        letter-spacing: normal;
    }
}
@media (min-width: 1069px){
    .intro-text{
        font-size: 4rem;
        max-width: 50rem;
    }
}
.mouse {
  position: absolute;
  width: 1rem;
  height: 2.5rem;
  bottom: 40px;
  left: 50%;
  margin-left: -0.5rem;
  border-radius: 15px;
  border: 2px solid #fff;
  animation-delay: 1s;
  opacity: 0;
}
.scroll {
  display: block;
  width: 4px;
  height: 4px;
  margin: 6px auto;
  border-radius: 4px;
  background: #fff;
  animation: finger 1s infinite;
}
.stick-me .sticking {
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.sideintro {
  animation: sideintro 3s;
  animation-fill-mode: backwards;
}
.intro {
  animation: intro 1s;
  animation-fill-mode: forwards;
}
/* ***** ABOUT SECTION ***** */
.about-section {
    color: rgb(82, 82, 82);
    background-color: #efefef;
    font-family: 'Avenir-Next',
'system-ui',
helvetica,
arial,
sans-serif;
    font-size: 1.25rem;
    padding: 4em 1.5em;
}
@media (min-width: 1069px){
    .about-section{
        padding: 4em 0;
    }
}
.about-section p {
    text-align: left;
    opacity: 0;
    margin-top: 1.5rem;
    line-height: 1.5;
    width: 100%;
    font-size: 1rem;
}
@media (min-width: 667px){
    .about-section p{
        font-size: 1.25rem;
    }
}
@media (min-width: 667px){
    .about-text{
        margin-top: 1rem;
    }
}
.skills-wrapper {
    display: -ms-flexbox;
    display: flex;
}
@media (min-width: 1069px){
    .skills-list{
        width: 75%;
    }
}
.about-text__subtitle {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 4rem;
    opacity: 0;
}
@media (min-width: 1069px){
    .about-text__subtitle{
        font-size: 1.5rem;
    }
}
.about-section a {
    color: #163750;
    display: inline-block;
    position: relative;
}
.about-section a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #163750;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    transition: all 0.25s ease-in-out;
}
.about-section a:hover::after {
    width: 100%;
}
.about-section ul {
    margin-top: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
p:nth-child(1) {
    margin-top: 0;
}
/* ***** SKILLS SECTION ***** */
.skills-section-header {
    color: #efefef !important;
}
#skills {
    color: #efefef;
    background-color: #c5c1c0;
    font-family: 'Avenir-Book', serif;
    font-size: 1.75rem;
    font-weight: bold;
    text-align: left;
    padding: 3em 1em;
    min-height: 75vh;
    box-sizing: border-box;
}
#skills hr {
    border: solid 2px #efefef;
}
#skills ul {
    color: #efefef;
    list-style-position: outside;
}
#skills ul li {
    margin-bottom: 20px;
}
#skills .skills-wrapper {
    width: 80%;
    display: -ms-flexbox;
    display: flex;
    margin: 3em auto 0.5em auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.75rem;
}
@media (min-width: 667px){
    #skills .skills-wrapper{
        width: 80%;
        font-size: 2rem;
        margin: 4em auto 0.75em auto;
    }
}
@media (min-width: 1069px){
    #skills .skills-wrapper{
        margin: 5em auto 1em auto;
        font-size: 2.6rem;
    }
}
#skills .skills-left,
    #skills .skills-right {
    width: 50%;
    -ms-flex: 1 1 200px;
    flex: 1 1 200px;
}
#skills .skills-left {
    margin-bottom: 5rem;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}
#skills .fadeOut,
    #skills #skills ul {
    animation-duration: 1.5s;
    transition: all 1s;
}
#skills .delayed-text-1,
    #skills .delayed-text-2,
    #skills .delayed-text-3,
    #skills .delayed-text-4,
    #skills .delayed-text-5,
    #skills .delayed-text-6,
    #skills .delayed-text-7,
    #skills .delayed-text-8 {
    opacity: 0;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
/* ***** PROJECTS SECTION ***** */
.projects-section {
  color: rgb(82, 82, 82);
  background-color: #fff;
  font-size: 1.25rem;
  text-align: left;
  min-height: 100vh;
  box-sizing: border-box;
}
.projects-gallery-intro {
  text-align: left;
  opacity: 0;
  line-height: 1.5;
  opacity: 0;
}
.projects-gallery-intro p {
    font-size: 1rem;
}
@media (min-width: 667px){
    .projects-gallery-intro p{
        width: 90%;
        font-size: 1.25rem;
        margin-top: 1rem;
    }
}
@media (min-width: 1069px){
    .projects-gallery-intro p{
        width: 75%;
    }
}
.gallery {
  grid-column: 1 / -1;
  margin-top: 4rem;
  /*center aligned*/
  padding: 0;
  font-size: 0;
  opacity: 0;
  /* Remember to change it back to normal font size if have captions */
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  list-style: none;
  animation-delay: 0.5s;
}
@media (min-width: 667px){
    .gallery{
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}
@media (min-width: 1069px){
    .gallery{
        -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.25rem;
    }
}
.gallery li {
    display: inline-block;
    width: 100%;
    height: 325px;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    height: 260px;
}
@media (min-width: 667px){
    .gallery li{
        height: 300px;
    }
}
@media (min-width: 1069px){
    .gallery li{
        height: 18vw;
    }
}
/* The wrapper for each item */
.project-cell {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
}
@media (min-width: 667px){}
.project-cell img {
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: all 1s;
}
.project-cell img:hover {
    transform: scale(1.5) brightness(0.3);
}
/* If have the image layer */
.gallery li:hover.cell__thumbnail {
  transform: scale(1.1) brightness(1);
}
/* Overlay layer */
.cell__overlay {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  background: #feb63f;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  /*For IE6 - IE8*/
  transition: all 0.4s cubic-bezier(0.44, 0, 0, 1);
  will-change: transform;
}
.gallery li:hover .cell__overlay {
  opacity: 1;
}
.gallery li:hover .rig-cell__overlay {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(100) scale(1, 1);
}
/* Caption */
.cell__title {
  display: block;
  padding: 0 2em;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-family: 'Avenir-Black',
'system-ui',
helvetica,
arial,
sans-serif;
  margin-top: -1.25em;
  color: white;
  opacity: 0;
  transform: translateY(1.5rem);
  transition: all 0.3s cubic-bezier(0.44, 0, 0, 1);
  position: relative;
  font-size: 1.5rem;
}
.cell__title::after {
    content: '';
    position: absolute;
    bottom: -1em;
    left: calc(50% - 0.75em);
    width: 1.5em;
    height: 4px;
    background: #fff;
}
@media (min-width: 667px){
    .cell__title{
        font-size: 2rem;
    }
}
@media (min-width: 1069px){
    .cell__title{
        font-size: 1.5rem;
    }
}
.gallery li:hover .cell__title {
  transform: translateY(0px);
  opacity: 1;
}
.about-section p:nth-child(2) {
  animation-delay: 0.1s;
}
.about-section p:nth-child(3) {
  animation-delay: 0.2s;
}
.about-section p:nth-child(4) {
  animation-delay: 0.3s;
}
.about-section p:nth-child(5) {
  animation-delay: 0.4s;
}
/* ***** PROJECTS PAGE ***** */
#project-header {
    background-color: #163750;
    height: calc(80vh - 60px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
}
@media (min-width: 667px){
    #project-header{
        height: calc(80vh - 98px);
    }
}
@media (min-width: 1069px){}
#project-header__container {
    color: #feb63f;
    font-size: 4rem;
    padding: 0 0.5em;
    font-family: 'Avenir-Black', sans-serif;
    font-weight: bold;
    text-align: center;
    animation-fill-mode: forwards;
}
@media (min-width: 667px){
    #project-header__container{
        font-size: 6rem;
    }
}
@media (min-width: 1069px){
    #project-header__container{
        font-size: 8rem;
        top: 70%;
    }
}
.summary-section {
    padding: 4em 0;
    font-size: 1.25rem;
    background: #c5c1c0;
    font-family: 'Avenir-Book', serif;
}
.summary-wrapper {
    width: 90%;
    font-weight: bold;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-align: left;
    color: #e9e9e9;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 1.75rem;
}
@media (min-width: 667px){
    .summary-wrapper{
        width: 80%;
        font-size: 2rem;
    }
}
@media (min-width: 1069px){
    .summary-wrapper{
        width: 70%;
        font-size: 2.6rem;
    }
}
.summary-left,
.summary-right {
    -ms-flex: 1 1 200px;
        flex: 1 1 200px;
    opacity: 0;
}
.summary-right {
    width: 50%;
    font-size: 1rem;
}
@media (min-width: 1069px){
    .summary-right{
        font-size: 1.25rem;
    }
}
.summary-left {
    width: 30%;
    color: #0A1612;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@media (min-width: 1069px){
    .summary-left{
        margin-bottom: 5rem;
    }
}
.project-summary__link {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    position: relative;
    color: rgb(82, 82, 82);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px auto;
    width: 100%;
    height: auto;
    line-height: 1;
    margin-bottom: 2.5rem;
}
@media (min-width: 667px){
    .project-summary__link{
        font-size: 2rem;
    }
}
@media (min-width: 1069px){}
.project-summary__link:hover {
    text-decoration: none;
    color: #0A1612;
    text-decoration: none;
}
.project-summary__link:hover:after {
    width: 100%;
    left: 0;
    right: 0;
}
.project-summary__link:after {
    display: none;
}
@media (min-width: 1069px){
    .project-summary__link:after{
        content: '';
        position: relative;
        display: block;
        margin: auto;
        height: 3px;
        width: 1.5em;
        top: 0.75em;
        background: rgb(82, 82, 82);
        text-decoration: none;
        transition: width .5s ease, background-color .5s ease;
    }
}
.link-holder {
    display: inline-block;
}
.details-section {
    background: #efefef;
    padding: 4em 0;
    font-size: 1.25rem;
    text-align: center;
}
.device-screenshots {
    width: 1000px;
    max-width: 100vw;
    margin-left: -1em;
    margin-top: -2em;
    margin-bottom: -2em;
}
.btn-return {
    margin: 0px auto;
    font-family: 'Avenir-Black', century-gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    display: inline-block;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 1.5em 2em;
    text-align: center;
    max-width: 100%;
    width: auto;
    color: #1A1D1A;
    border: solid 4px #1A1D1A;
    transition: all ease 0.3s;
}
@media (min-width: 1069px){
    .btn-return{
        padding: 2em 5em;
    }
}
.btn-return:hover {
    font-family: 'Avenir-Black', century gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    background-color: #1A1D1A;
    border: solid 4px #1A1D1A;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}
.details__tech-list {
    margin: 10px 0px 2.5rem 0px;
    padding: 0;
}
.details__tech-list ul {
    margin-top: 50px;
    width: 1000px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    padding-left: 1em;
}
@media (min-width: 1069px){
    .details__tech-list ul{
        padding-left: 2.75em;
        margin-top: 0px;
    }
}
.details__tech-list li {
    display: block;
    margin-right: 1rem;
    color: #a9a9a9;
    font-size: 1.5rem;
}
@media (min-width: 667px){}
@media (min-width: 1069px){
    .details__tech-list li{
        display: inline-block;
    }
}
.details__full-summary {
    font-size: 1rem;
    color: rgb(82, 82, 82);
    margin: 0 auto 5rem auto;
    text-align: left;
    padding: 0 1em;
    max-width: 1000px;
}
@media (min-width: 1069px){
    .details__full-summary{
        font-size: 1.25rem;
        width: 1000px;
        width: 80%;
        padding: 0 3em;
    }
}
.details__full-summary p {
    opacity: 0;
    margin-bottom: 2em;
}
.details__full-summary p:last-child {
    margin-bottom: 0;
}
.details__full-summary li {
    margin-top: 1rem;
    list-style-position: inside;
}
.tech-section-header {
    font-size: 1.25rem;
    text-align: center;
    margin-top: 4rem;
    opacity: 0;
    width: 1000px;
}
@media (min-width: 1069px){
    .tech-section-header{
        font-size: 1.5rem;
    }
}
.hr {
    border: solid 2px #a9a9a9;
    width: 40px;
}
.details__tech-list .wordpress {
    opacity: 0.7;
    font-size: 1.5rem;
}
.wordpress:hover {
    opacity: 1;
}
/* ***** CONTACT SECTION ***** */
.contact-section {
    color: #fff;
    background-color: #0a1612;
    font-size: 1.25rem;
    line-height: 1.3;
    text-align: left;
    position: relative;
    padding: 4em 1.5em;
}
@media (min-width: 1069px){
    .contact-section{
        padding: 4em 0;
    }
}
.contact-section .section-header {
    color: #fff;
}
.contact-wrapper {
    margin: 3em 0.5em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
}
@media (min-width: 667px){
    .contact-wrapper{
        width: 80%;
        margin: 6em auto;
    }
}
.contact-text {
    text-align: left;
}
@media (min-width: 667px){
    .contact-text{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    }
}
.contact-text p {
    text-align: left;
    line-height: 1.5;
    opacity: 0;
    font-size: 1rem;
}
@media (min-width: 667px){
    .contact-text p{
        font-size: 1.25rem;
    }
}
@media (min-width: 1069px){
    .contact-text p{
        width: 75%;
    }
}
.socialicons {
    height: 20px;
    display: inline-block;
}
.fa {
    color: #fff;
    font-family: 'Avenir-Book', serif;
    font-size: 26px;
    text-align: center;
    width: 100%;
}
.social-icons-wrapper {
    margin-top: 2.5rem;
    opacity: 0;
}
@media (min-width: 1069px){
    .social-icons-wrapper{
        margin-top: 4rem;
    }
}
.social-icons-wrapper ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 200px;
    list-style: none;
}
.social-icon {
    position: relative;
    width: 1.5rem;
    fill: #fff;
    margin: 0 1.5rem;
    transition: all 0.25s;
    animation-delay: 0.5s;
    overflow: hidden;
}
.social-icon svg {
    height: 100%;
    position: absolute;
}
.social-icon:hover {
    fill: #feb63f;
}
.social-icon span {
    position: absolute;
    top: -100%;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
.social-icon:first-child {
    margin-left: 0;
}
.site-footer {
    color: rgb(82, 82, 82);
    background-color: #fff;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 0.75rem;
    position: relative;
    padding: 1.5rem;
}
