/* ***** ABOUT SECTION ***** */
.about-section {
    display: flex;
    justify-content: space-between;
    color: $darkGrey;
    background-color: #efefef;
    font-family: 'Avenir-Book', serif;
    font-size: 1rem;
    font-size: 1.75rem;

    p {
        font-family: 'Avenir-Book', serif;
        text-align: left;
        opacity: 0;
        margin-top: 1.5rem;

        @mixin atMedium {
            width: 80%;
            font-size: 2rem;
        }

        @mixin atLarge {
            font-size: 1.5rem;
            width: 75%;
        }

    }

}

p:nth-child(1) {
    margin-top: 0;
}

.section-header-wrapper {
    width: 40%;
}

.about-text {
    width: 50%;
}