/* ***** ABOUT SECTION ***** */
.about-section {
    display: flex;
    justify-content: space-between;
    color: $darkGrey;
    background-color: #efefef;
    font-family: $bodyText;
    font-size: 1.75rem;

    p {
        text-align: left;
        opacity: 0;
        margin-top: 1.5rem;
        line-height: 1.5;

        @mixin atMedium {
            width: 80%;
            font-size: 2rem;
        }

        @mixin atLarge {
            font-size: 1.25rem;
            width: 75%;
        }

    }

}

.skills-wrapper {
    display: flex;
}

.skills-list {
    width: 75%;
}

.about-text__subtitle {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 4rem;
};

.about-section a {
    color: $yellow;
    display: inline-block;
    position: relative;
}

.about-section a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: $yellow;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    transition: all 0.25s ease-in-out;
}


.about-section a:hover::after {
    width: 100%;
}

.about-section ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}



p:nth-child(1) {
    margin-top: 0;
}

.section-header-wrapper {
    width: 40%;
}

.about-text {
    width: 50%;
}
