/* ***** ABOUT SECTION ***** */

.about-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: $darkGrey;
    background-color: #efefef;
    font-family: $bodyText;
    font-size: 1.25rem;
    padding: 4em 1.5em;
    @mixin atLarge {
        padding: 4em 0;
    }
    p {
        text-align: left;
        opacity: 0;
        margin-top: 1.5rem;
        line-height: 1.5;
        width: 100%;
        font-size: 1rem;
        @mixin atMedium {
            font-size: 1.25rem;
        }
        @mixin atLarge {
            width: 75%;
        }
    }
}

.skills-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.skills-list {
    @mixin atLarge {
        width: 75%;
    }
}

.about-text__subtitle {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 4rem;
    opacity: 0;
    @mixin atLarge {
        font-size: 1.5rem;
    }
}

;
.about-section a {
    color: $newNavy;
    display: inline-block;
    position: relative;
}

.about-section a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: $newNavy;
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.about-section a:hover::after {
    width: 100%;
}

.about-section ul {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

p:nth-child(1) {
    margin-top: 0;
}

.about-text {
    width: 100%;
    @mixin atMedium {
        width: 60%;
    }
    @mixin atLarge {
        width: 50%;
    }
}