
.site-footer {
    color: #a9a9a9;
    background-color: #fff;
    text-align: center;
    display: block;
    margin: auto;
    font-size: 0.75rem;
    position: relative;
    bottom: 10px;
    padding: 1.5rem;
}