/* ***** PROJECTS PAGE ***** */


#project-header {
    margin-top: 0px;
    background-color: $navyBackground;
    height: calc(80vh - 60px);
    @mixin atMedium {
    height: calc(80vh - 98px);  
    }
    @mixin atLarge {
    }
}
#project-header__container {
    color: $yellow;
    font-size: 4rem;
    padding: 0 0.5em ;
    position: relative;
    top: 70%;
    font-family: 'Avenir-Black', sans-serif;
    font-weight: bold;
    text-align: center;
    animation-fill-mode: forwards;
    @mixin atMedium {
          font-size: 6rem;  
    }
    @mixin atLarge {
          font-size: 8rem;  
          top: 70%;
    }
}

#summary {
        padding: 3em 1em;
        background: #c5c1c0;
        font-family: 'Avenir-Book', serif;
}

.summary-wrapper {
    width: 70%;
    font-weight: bold;
    display: flex;
    margin: auto;
    text-align: left;
    color: #e9e9e9;
    flex-wrap: wrap;
    font-size: 1.75rem;
                @mixin atMedium {
                width: 70%;
                font-size: 2rem;
            }
    @mixin atLarge {
      font-size: 2.6rem;
    }
}
.summary-left, .summary-right {
    width: 50%;
    flex: 1 1 200px;
    
}
.summary-left {
    margin-bottom: 5rem;
    color: #0A1612;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.project-summary__link {
    display: block;
    margin-bottom: 50px;
    color: #0A1612;
    font-size: 1.75rem;
                    @mixin atMedium {
                font-size: 2rem;
            }
    @mixin atLarge {
      font-size: 2.6rem;
    }
}

#details {
    background: #efefef;
    padding: 3em 1em;
    text-align: center;
}

.device-screenshots {
    width: 1000px;
}

.btn-return {
    margin: 0px auto;
    font-family: 'Avenir-Black', century-gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    display: inline-block;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 2em 5em;
    text-align: center;
    max-width: 100%;
    width: auto;
    color: #1A1D1A;
    border: solid 4px #1A1D1A;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.btn-return:hover {
    font-family: 'Avenir-Black', century gothic, helvetica, arial, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    background-color: #1A1D1A;
    border: solid 4px #1A1D1A;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    &:after {
                    width: 100%;
                    background: $nearBlackBackground;
                    }    
}

.btn-return:after {
    display: none;
    @mixin atLarge {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    text-decoration: none;
    transition: width .5s ease, background-color .5s ease;
    }
}