/* ***** WELCOME SECTION ***** */


.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: $newNavy;
    height: calc(100vh - 76px);
    @mixin atMedium {
    height: calc(100vh - 22rem);  
    }
    @mixin atLarge {
    }
}


.intro-text {
    color: $yellow;
    font-size: 3rem;
    padding: 0 0.5em 2em 0;
    position: relative;
    width: 50rem;
    font-family: 'Avenir-Black', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 1.25;
    animation-fill-mode: forwards;
    @mixin atMedium {
          font-size: 4rem;  
    }
    @mixin atLarge {
          font-size: 4rem;  
    }
}
.mouse {
    position: absolute;
    width: 20px;
    height: 42px;
    bottom: 40px;
    left: 50%;
    margin-left: -10px;
    border-radius: 15px;
    border: 2px solid #fff;
    -webkit-animation: intro 2s;
    animation: intro 2s;
}
.scroll {
    display: block;
    width: 4px;
    height: 4px;
    margin: 6px auto;
    border-radius: 4px;
    background: #fff;
    -webkit-animation: finger 1s infinite;
    animation: finger 1s infinite;
}
.stick-me .sticking {
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.sideintro {
    -webkit-animation: sideintro 3s;
    animation: sideintro 3s;
    animation-fill-mode: backwards;
}
.intro {
    -webkit-animation: intro 1s;
    animation: intro 1s;
    animation-fill-mode: forwards;
}