/* ***** WELCOME SECTION ***** */

.intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0px;
    background-color: $newNavy;
    height: calc(100vh - 100px);
    position: relative;
    @mixin atMedium {
        height: calc(100vh - 100px);
    }
}

.intro-text {
    color: $yellow;
    font-size: 2.5rem;
    padding: 0 1rem;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    width: 100%;
    font-family: $largeText;
    text-rendering: optimizeSpeed;
    font-weight: bold;
    text-align: center;
    line-height: 1.25;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation: slideUp 0.8s ease-out;
    animation: slideUp 0.8s ease-out;
    @mixin atMedium {
        top: 25%;
        font-size: 3.25rem;
        max-width: 40rem;
    }
    @mixin atLarge {
        font-size: 4rem;
        max-width: 50rem;
    }
}

.mouse {
    position: absolute;
    width: 1rem;
    height: 2.5rem;
    bottom: 40px;
    left: 50%;
    margin-left: -0.5rem;
    border-radius: 15px;
    border: 2px solid #fff;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    opacity: 0;
}

.scroll {
    display: block;
    width: 4px;
    height: 4px;
    margin: 6px auto;
    border-radius: 4px;
    background: #fff;
    -webkit-animation: finger 1s infinite;
    animation: finger 1s infinite;
}

.stick-me .sticking {
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.sideintro {
    -webkit-animation: sideintro 3s;
    animation: sideintro 3s;
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.intro {
    -webkit-animation: intro 1s;
    animation: intro 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}